@page
@using Volo.ClientSimulation.Pages.ClientSimulation
@model Volo.ClientSimulation.Pages.ClientSimulation.IndexModel
@section styles {
    <abp-style-bundle>
        <abp-style src="/Pages/ClientSimulation/SimulationArea.css" />
    </abp-style-bundle>
}
@section scripts {
    <abp-script-bundle>
        <abp-script src="/Pages/ClientSimulation/SimulationArea.js" />
        <abp-script src="/Pages/ClientSimulation/Index.js" />
    </abp-script-bundle>
}
<div id="SimulationArea"></div>