.simulation-client {
  border: 1px solid #008000;
  background-color: #f5f5f5;
  margin: 3px;
  padding: 5px;
  min-width: 250px;
  overflow: hidden;
  display: inline-block; }
  .simulation-client .simulation-client-icon {
    color: #999; }
  .simulation-client .simulation-client-scenario {
    font-weight: bold; }
  .simulation-client .simulation-client-scenario-current-step {
    color: #666;
    font-size: 0.8em; }
  .simulation-client.simulation-client-running {
    background-color: #d6ffce; }
    .simulation-client.simulation-client-running .simulation-client-icon {
      color: #008000; }
  .simulation-client.simulation-client-stopping {
    background-color: #fde0d7; }
    .simulation-client.simulation-client-stopping .simulation-client-icon {
      color: #f88562; }

.simulation-scenario .step-positive-fail-count {
  color: red; }
