@page
@model Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Components</h2>

<ul>
    <li><a asp-page="Components/alerts">Alerts</a></li>
    <li><a asp-page="Components/badges">Badges</a></li>
    @*<li><a asp-page="Components/blockquotes"> > Blockquotes</a></li>*@
    <li><a asp-page="Components/Borders">Borders</a></li>
    <li><a asp-page="Components/breadcrumbs">Breadcrumbs</a></li>
    <li><a asp-page="Components/Buttons">Buttons</a></li>
    <li><a asp-page="Components/ButtonGroups">Button Groups</a></li>
    <li><a asp-page="Components/Cards">Cards</a></li>
    <li><a asp-page="Components/Carousel">Carousel</a></li>
    <li><a asp-page="Components/collapse">Collapse</a></li>
    <li><a asp-page="Components/Dropdowns">Dropdowns</a></li>
    <li><a asp-page="Components/DynamicForms">Dynamic Forms</a></li>
    <li><a asp-page="Components/FormElements">Form Elements</a></li>
    <li><a asp-page="Components/Grids">Grids</a></li>
    <li><a asp-page="Components/ListGroup">List Groups</a></li>
    <li><a asp-page="Components/Modals">Modals</a></li>
    <li><a asp-page="Components/Navs">Navs</a></li>
    <li><a asp-page="Components/Paginator">Paginator</a></li>
    <li><a asp-page="Components/Popovers">Popovers</a></li>
    <li><a asp-page="Components/ProgressBars">Progress Bars</a></li>
    <li><a asp-page="Components/Tables">Tables</a></li>
    <li><a asp-page="Components/Tabs">Tabs</a></li>
    <li><a asp-page="Components/tooltips">Tooltips</a></li>
</ul>

