/* Styles for the home component */
.card-bg-image {
  position: absolute;
  width: 630px;
  height: auto;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.starting-content {
  position: relative;
  z-index: 2;
}

@media (min-width: 1199px) {
  .h-lg-100 {
    height: 100% !important;
  }
}

@media (min-width: 768px) {
  .h-md-100 {
    height: 100% !important;
  }
}
