<div class="container">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">
        {{ '::Welcome_Title' | abpLocalization }}
      </h5>
    </div>
    <div class="card-body">
      @if(!hasLoggedIn){
        <button class="btn btn-primary mb-2" (click)="login()">{{ 'AbpUi::Login' | abpLocalization }}</button>
      }
      
      <p>{{ '::Welcome_Text' | abpLocalization }}</p>
    </div>
  </div>
  <div class="card mt-5">
    <div class="card-body">
      <div class="row">
        <div class="col-md-auto text-center">
          <img
            src="https://abp.io/assets/png/mastering-abp-framework.webp"
            style="max-width: 400px"
            class="w-100 mb-5 my-md-3"
          />
        </div>
        <div class="col-md d-flex align-items-center">
          <div class="pe-0 pe-md-4">
            <small class="text-uppercase text-muted">THE OFFICIAL GUIDE</small>
            <h2 class="mb-4">Mastering ABP Framework</h2>
            <p class="mb-4">
              Written by the creator of the ABP Framework, this book will help you gain a complete
              understanding of the framework and modern web application development techniques.
            </p>
            <div class="mb-4">
              <a
                href="https://www.amazon.com/gp/product/B097Z2DM8Q/ref=dbs_a_def_rwt_hsch_vapi_tkin_p1_i0"
                class="btn btn-success mb-1"
              >
                Buy on Amazon US
              </a>
              &nbsp;
              <a
                href="https://www.packtpub.com/product/mastering-abp-framework/9781801079242"
                class="btn btn-primary mb-1"
              >
                Buy on PACKT
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
