@using Volo.Abp.Account.Web.Pages
@using Volo.Abp.Account.Web.Pages.Account
@model ConsentModel.ScopeViewModel
@* TODO: Should re-format this, just made copy/paste *@
<li class="list-group-item">
    <div class="form-check">
        <label asp-for="Checked" class="form-check-label">
            <input asp-for="Checked" class="form-check-input" disabled="@Model.Required" />
            @Html.DisplayNameFor(m => m.Checked)
            <input asp-for="Name" type="hidden" />
            <strong>@Model.DisplayName</strong>
            @if (Model.Emphasize)
            {
                <span class="glyphicon glyphicon-exclamation-sign"></span>
            }
        </label>
    </div>
    @if (Model.Required)
    {
        <span><em>(required)</em></span>
    }
    @if (Model.Description != null)
    {
        <div class="consent-description">
            <label for="scopes_@Model.Name">@Model.Description</label>
        </div>
    }
</li>