@page "/TenantManagement/Tenants"
@using Microsoft.Extensions.Localization
@using Volo.Abp.TenantManagement.Localization
@inject IStringLocalizer<AbpTenantManagementResource> L
@{
}
<h1>MyProjectName</h1>
<p>@L["SamplePageMessage"]</p>