@page
@using Microsoft.Extensions.Localization
@using MyCompanyName.MyProjectName.Localization
@model MyCompanyName.MyProjectName.Web.Pages.MyProjectName.IndexModel
@inject IStringLocalizer<MyProjectNameResource> L
@{
}
<h1>MyProjectName</h1>
<p>@L["SamplePageMessage"]</p>
