@page
@inherits MyCompanyName.MyProjectName.Web.Pages.MyProjectNamePage
@model MyCompanyName.MyProjectName.Web.Pages.MyProjectName.IndexModel
@{
}
<h1>MyProjectName</h1>
<p>A sample page for the MyProjectName module.</p>