@page
@using Microsoft.Extensions.Localization
@using Volo.CmsKit.Localization
@model Volo.CmsKit.Admin.Web.Pages.Admin.IndexModel
@inject IStringLocalizer<CmsKitResource> L
@{
}
<h1>Admin</h1>
<p>@L["SamplePageMessage"]</p>
