@page
@model DashboardDemo.Pages.widgets.RoleListWidgetViewComponent
@{
}
<div id="RoleListWidgetContainer">
    <abp-card background="Secondary">
        <abp-card-header> Roles in application :</abp-card-header>
        <abp-card-body>
            <ul id="RoleList">

            </ul>
        </abp-card-body>
    </abp-card>
</div>

