@inject IHtmlLocalizer<DashboardDemoResource> L
@using DashboardDemo.Localization.DashboardDemo
@using Microsoft.AspNetCore.Mvc.Localization
@model DashboardDemo.Pages.widgets.UserCountWidgetViewComponent
@{
}
<div id="UserCountWidgetContainer">
    <abp-card background="Light">
        <abp-card-header background="Info">@L["UserCount"] :</abp-card-header>
        <abp-card-body>
            <h1 id="UserCount"></h1>
        </abp-card-body>
    </abp-card>
</div>
