@page
@model DashboardDemo.Pages.widgets.UserCountWidgetViewComponent
@{
}
<div id="UserCountWidgetContainer">
    <abp-card background="Info">
        <abp-card-header>User Count :</abp-card-header>
        <abp-card-body>
            <h1 id="UserCount"></h1>
        </abp-card-body>
    </abp-card>
</div>
