@using Volo.Abp.Localization
@using System.Globalization
@using Microsoft.Extensions.Hosting
@using Volo.Abp.AspNetCore.Components.Server.LeptonXLiteTheme.Bundling
@using Volo.Abp.AspNetCore.Components.Server.Theming.Bundling
@inject IHostEnvironment Env
@{
    var rtl = CultureHelper.IsRtl ? "rtl" : string.Empty;
}

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name" dir="@rtl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyCompanyName.MyProjectName.Blazor.Server</title>
    <base href="/" />

    <!--ABP:Styles-->
    <link href="global.css?_v=638417120185267609" rel="stylesheet"/>
    <link href="main.css" rel="stylesheet"/>
    <!--/ABP:Styles-->

    <AbpStyles BundleName="@BlazorLeptonXLiteThemeBundles.Styles.Global" />

    <HeadOutlet @rendermode="InteractiveAuto" />

</head>
<body>

    <Routes @rendermode="InteractiveAuto" />

    <AbpScripts BundleName="@BlazorLeptonXLiteThemeBundles.Scripts.Global" />

    <!--ABP:Scripts-->
    <script src="global.js?_v=638417120186975895"></script>
    <!--/ABP:Scripts-->

    <div id="blazor-error-ui">
        @if (Env.IsDevelopment())
        {
            <text>An unhandled exception has occurred. See browser dev tools for details.</text>
        }
        else if (Env.IsStaging() || Env.IsProduction())
        {
            <text>An error has occurred. This application may no longer respond until reloaded.</text>
        }
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

</body>
</html>
