<abp-card background="Light">
    <abp-card-header background="Secondary" class="text-white">
        User Statistics
    </abp-card-header>
    <abp-card-body>
        <div>
            <div class="form-group frequency-filter">
                <select class="form-control">
                    <option value="Daily">Daily</option>
                    <option value="Monthly">Monthly</option>
                </select>
            </div>
        </div>
        <div class="row mt-5">
            <canvas class="NewUserStatisticChart"></canvas>
        </div>
    </abp-card-body>
</abp-card>