<div class="row">
    <div class="col-md-3"> 
        <form>
            <div class="form-group">
                <label for="UsernameOrEmailAddress">Username or email address</label>
                <input type="email" class="form-control" id="UsernameOrEmailAddress" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="Password">
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox">
                    Remember me
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>