@page
@using Volo.Blogging.Pages.Blog
@*inherits BloggingPage*@
@model IndexModel
@{
}
<h2>
    Blogs
</h2>

<ul>
    @foreach (var blog in Model.Blogs)
    {
        <li>
            @blog.Name
        </li>
    }
</ul>
