@model DashboardDemo.CountersWidgetResultDto
<div class="counters-widget">
    <abp-row>
        <abp-column size-md="_3">
            <div class="counters-widget-item">
                <div class="counters-widget-count">@Model.NewUsers</div>
                <div class="counters-widget-count-name">New Users</div>
            </div>
        </abp-column>
        <abp-column size-md="_3">
            <div class="counters-widget-item">
                <div class="counters-widget-count">@Model.ActiveUsers</div>
                <div class="counters-widget-count-name">Active Users</div>
            </div>
        </abp-column>
        <abp-column size-md="_3">
            <div class="counters-widget-item">
                <div class="counters-widget-count">@Model.TotalIncome.ToString("c")</div>
                <div class="counters-widget-count-name">Total Income</div>
            </div>
        </abp-column>
        <abp-column size-md="_3">
            <div class="counters-widget-item">
                <div class="counters-widget-count">@Model.TotalProfit.ToString("c")</div>
                <div class="counters-widget-count-name">Total Profit</div>
            </div>
        </abp-column>
    </abp-row>
</div>