@model IReadOnlyList<Volo.Abp.Identity.IdentityUserDto>

@section styles {
    <!-- TODO: Use minified on production, normal in development -->
    <link rel="stylesheet" type="text/css" href="~/modules/identity/libs/datatables/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/modules/identity/views/users/index.css" />
}

@section scripts {
    <script type="text/javascript" src="~/modules/identity/libs/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="~/modules/identity/views/users/index.js"></script>
}

<h2>Users</h2>

<table id="IdentityUsersTable">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email Address</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@(user.PhoneNumber ?? "-")</td>
            </tr>
        }
    </tbody>
</table>