@page "/"
@using Volo.Abp.AspNetCore.Components.Messages
@inject IUiMessageService UiMessageService

<h1>Hello, world!</h1>

<Button Color="Color.Primary" Clicked="ShowMessage">Show message</Button>

<UiMessageAlert />

@code{
    private async Task ShowMessage()
    {
        await UiMessageService.Success("Blazorize is properly working :)");
    }
}