body {
    background-color: #f9f9f9;
}

.product-list-item {
    background-color: #fff;
    padding: 2em;
    border: 1px solid #eee;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    margin-bottom: 2em;
    transition: all .2s;
}

.product-list-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.product-list-item img {
    width: 100%;
}

.product-list-item .text-muted {
    opacity: .8
}

.product-info-box {
    min-height: 80px;
}
