@page
@using ProductManagement
@using Volo.Abp.Settings
@model PublicWebSite.Host.Pages.ProductsModel
@inject ISettingProvider SettingProvider
<h1>Our Products</h1>
<ul>
    @foreach (var product in Model.Products.Items)
    {
        <li>
            @if (!product.ImageName.IsNullOrEmpty())
            {
                <img src="/product-images/@product.ImageName" width="300" height="300"/>
            }
            @product.Code / @product.Name / $@product.Price <br/>
            <i>Stock count: @product.StockCount</i>
        </li>
    }
</ul>

@* An example to show how to read settings from the client side / UI *@
<p><i>Maximum allowed page size: @await SettingProvider.GetOrNullAsync(ProductManagementSettings.MaxPageSize)</i></p>