@page
@using Volo.Docs
@using Volo.Docs.Pages.Documents
@model IndexModel
@{
}
@section styles {
    <abp-style-bundle name="@typeof(IndexModel).FullName">
        <abp-style src="/Pages/Documents/vs.css" />
        <abp-style src="/assets/fa/css/font-awesome.min.css" />
    </abp-style-bundle>
}

<div class="p-5">

    @if (Model.Projects.Count > 0)
    {
        <h1>Project(s)</h1>
        <p>
            <ul style="list-style-type: upper-roman;">
                @foreach (var project in Model.Projects)
                {
                    <li>
                        <h3>
                            <a asp-page="./Project/Index"
                               asp-route-projectName="@project.ShortName"
                               asp-route-version="@DocsWebConsts.DefaultVersion.Version">
                                @project.Name
                            </a>
                        </h3>
                    </li>
                }
            </ul>
        </p>
    }
    else
    {
        <p>There is no project defined yet!</p>
    }
</div>
