@page
@using Volo.Docs.Pages.Documents
@model IndexModel
@{
}
<h2>Projects</h2>

@if (Model.Projects.Count > 0)
{
    <ul>
        @foreach (var project in Model.Projects)
        {
            <li><a asp-page="./Project/Index" asp-route-projectName="@project.ShortName" asp-route-version="latest">@project.Name</a></li>   
        }
    </ul>
}
else
{
    <p>There is no project defined yet!</p>
}