body {
  position: relative; }

.docs-page {
  background: #f5f7f9; }
  .docs-page .anchorjs-link {
    transition: all .25s linear; }
  .docs-page *:hover > .anchorjs-link {
    margin-left: -1.125em !important;
    transition: color .25s linear; }
  .docs-page .anchorjs-link:hover {
    color: #2500AD;
    text-decoration: none; }
  .docs-page .docs-sidebar {
    background: #f5f7f9;
    padding-right: 1rem;
    position: relative;
    top: 0px;
    left: 0;
    position: fixed; }
    .docs-page .docs-sidebar .docs-sidebar-wrapper {
      width: 270px;
      float: right; }
      .docs-page .docs-sidebar .docs-sidebar-wrapper input.form-control {
        background: none;
        padding-left: 36px;
        width: 100%;
        background: #e9ecef;
        border: 0; }
        .docs-page .docs-sidebar .docs-sidebar-wrapper input.form-control:focus, .docs-page .docs-sidebar .docs-sidebar-wrapper input.form-control:active, .docs-page .docs-sidebar .docs-sidebar-wrapper input.form-control:hover, .docs-page .docs-sidebar .docs-sidebar-wrapper input.form-control:visited {
          box-shadow: none; }
      .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-version {
        position: relative;
        padding: 0 1rem;
        margin: .5rem 0 1rem; }
        .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-version .version-select {
          padding: 1px;
          border-radius: 8px; }
          .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-version .version-select .input-group-text {
            border: 0; }
          .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-version .version-select select.form-control {
            line-height: 1;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            padding: .3em .5em .5em;
            border: 0; }
            .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-version .version-select select.form-control:focus, .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-version .version-select select.form-control:active, .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-version .version-select select.form-control:hover, .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-version .version-select select.form-control:visited {
              box-shadow: none; }
      .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-filter {
        position: relative;
        padding: 0 1rem;
        margin: .5rem 0;
        font-size: .9em; }
        .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-filter .filter-icon {
          position: absolute;
          top: 0px;
          padding: 8px 10px;
          line-height: 1;
          left: 16px;
          background: none;
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          line-height: 1.5; }
          .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-filter .filter-icon i.fa {
            color: #ddd; }
      .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-tree-list {
        height: 100vh; }
        .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-tree-list > ul {
          display: block;
          height: calc(100vh - 210px); }
        .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-tree-list ul {
          font-size: .935em;
          list-style: none;
          padding: 0 1rem;
          margin: 0; }
          .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-tree-list ul li {
            margin-left: 0px;
            padding-left: 24px;
            display: block;
            width: 100%;
            position: relative; }
            .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-tree-list ul li a {
              color: #999;
              font-weight: 700;
              padding: 7px 0;
              display: block;
              border-bottom: 1px solid #eeeff3; }
              .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-tree-list ul li a:hover {
                color: #000; }
              .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-tree-list ul li a .plus-icon {
                font-size: .85em;
                transition: .3s;
                width: 18px;
                height: 18px;
                text-align: center;
                padding: 0;
                line-height: 1;
                border-radius: 50%;
                margin-right: 4px;
                position: absolute;
                left: 2px;
                top: 11px;
                color: #aaa;
                cursor: pointer; }
                .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-tree-list ul li a .plus-icon.last-link {
                  top: 11px;
                  color: #aaa; }
            .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-tree-list ul li ul {
              padding: 0; }
              .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-tree-list ul li ul li a {
                font-weight: 400; }
              .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-tree-list ul li ul li ul {
                padding: 0; }
                .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-tree-list ul li ul li ul li a {
                  font-weight: 300; }
            .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-tree-list ul li.selected-tree > a {
              color: #000;
              transition: .4s; }
              .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-tree-list ul li.selected-tree > a span .fa {
                color: #000; }
              .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-tree-list ul li.selected-tree > a span:not(.last-link) .fa {
                transform: rotate(90deg);
                color: #000; }
    .docs-page .docs-sidebar .docs-top .navbar-logo .navbar-brand {
      font-size: 1.5rem;
      color: #000;
      font-weight: 700;
      padding: 20px 0 10px;
      line-height: 1; }
      .docs-page .docs-sidebar .docs-top .navbar-logo .navbar-brand strong {
        font-weight: 300;
        text-transform: uppercase;
        font-size: .9rem;
        opacity: .6; }
    .docs-page .docs-sidebar .docs-top .navbar-logo .go-back-site {
      color: #000;
      opacity: .15;
      transition: .4s;
      font-size: .75rem;
      font-weight: 300; }
      .docs-page .docs-sidebar .docs-top .navbar-logo .go-back-site:hover {
        text-decoration: none;
        opacity: .5; }
    .docs-page .docs-sidebar .docs-top .navbar-logo .navbar-logo-desc {
      font-size: .85em; }
      .docs-page .docs-sidebar .docs-top .navbar-logo .navbar-logo-desc strong {
        display: block; }
  .docs-page .docs-content .docs-link-btns {
    border-bottom: 1px solid #f4f5f7;
    background: #fdfdfd;
    padding: 10px 20px;
    margin: 0 -15px;
    text-align: right;
    font-size: .8em; }
    .docs-page .docs-content .docs-link-btns a {
      color: #999; }
      .docs-page .docs-content .docs-link-btns a:hover {
        color: #444;
        text-decoration: none; }
  .docs-page .docs-content .docs-text-field {
    padding: 2rem; }
  .docs-page .docs-content article.docs-body h1 {
    padding-top: 2rem;
    font-size: 2.25rem;
    padding-bottom: 10px; }
  .docs-page .docs-content article.docs-body h2 {
    padding-top: 2rem;
    padding-bottom: 10px;
    font-size: 2rem; }
  .docs-page .docs-content article.docs-body h3, .docs-page .docs-content article.docs-body h4, .docs-page .docs-content article.docs-body h5, .docs-page .docs-content article.docs-body h6 {
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 1.5rem; }
  .docs-page .docs-content article.docs-body h1, .docs-page .docs-content article.docs-body h2, .docs-page .docs-content article.docs-body h3, .docs-page .docs-content article.docs-body h4, .docs-page .docs-content article.docs-body h5, .docs-page .docs-content article.docs-body h6 {
    position: relative; }
    .docs-page .docs-content article.docs-body h1 .anchor, .docs-page .docs-content article.docs-body h2 .anchor, .docs-page .docs-content article.docs-body h3 .anchor, .docs-page .docs-content article.docs-body h4 .anchor, .docs-page .docs-content article.docs-body h5 .anchor, .docs-page .docs-content article.docs-body h6 .anchor {
      position: absolute;
      right: -26px;
      font-size: 18px;
      bottom: 5px;
      color: #999;
      opacity: 0;
      transition: .5s; }
    .docs-page .docs-content article.docs-body h1:hover .anchor, .docs-page .docs-content article.docs-body h2:hover .anchor, .docs-page .docs-content article.docs-body h3:hover .anchor, .docs-page .docs-content article.docs-body h4:hover .anchor, .docs-page .docs-content article.docs-body h5:hover .anchor, .docs-page .docs-content article.docs-body h6:hover .anchor {
      opacity: 1; }
  .docs-page .docs-content article.docs-body img {
    max-width: 100%;
    border: 1px solid #f4f5f7;
    margin: 15px 0 25px;
    box-shadow: 0 0 45px #f8f9fa;
    border-radius: 6px; }
  .docs-page .docs-page-index {
    height: 100vh; }
    .docs-page .docs-page-index #scroll-index {
      max-height: 100vh; }
    .docs-page .docs-page-index .docs-inner-anchors {
      position: fixed;
      top: 0px;
      /* max-width: 270px; */
      padding: 10px;
      font-size: .90em;
      /* height: 100vh; */ }
      .docs-page .docs-page-index .docs-inner-anchors .navbar .nav-pills {
        font-size: .92em;
        margin-left: 15px;
        border-left: 1px solid #eee; }
        .docs-page .docs-page-index .docs-inner-anchors .navbar .nav-pills .nav-link {
          padding: 3px 14px 4px;
          color: #aaa;
          line-height: 1.2;
          position: relative;
          border-left: 1px solid #eee;
          border-radius: 0;
          margin-left: -1px;
          margin-top: 1px;
          margin-bottom: 1px;
          transition: .2s; }
          .docs-page .docs-page-index .docs-inner-anchors .navbar .nav-pills .nav-link.active {
            border-left: 2px solid #007bff;
            background: none;
            color: #007bff; }
        .docs-page .docs-page-index .docs-inner-anchors .navbar .nav-pills .nav-pills .nav-link.active {
          color: #007bff; }
        .docs-page .docs-page-index .docs-inner-anchors .navbar .nav-pills .nav-pills .nav-pills .nav-link.active {
          color: #007bff; }
      .docs-page .docs-page-index .docs-inner-anchors .index-scroll {
        margin-left: -30px; }
      .docs-page .docs-page-index .docs-inner-anchors .docs-anchors-wrapper {
        max-width: 300px;
        float: left; }
    .docs-page .docs-page-index .scroll-top-btn {
      display: none;
      font-size: .85em;
      color: #aaa;
      text-decoration: none;
      padding-left: 18px; }
      .docs-page .docs-page-index .scroll-top-btn.showup {
        display: block; }

@media (min-width: 1100px) {
  .container {
    max-width: 1080px; }
  .docs-page .docs-sidebar.dark-sidebar {
    background: #222; }
    .docs-page .docs-sidebar.dark-sidebar .docs-sidebar-wrapper .docs-version .version-select select.form-control {
      background: #333;
      border-color: #333;
      color: #999; }
    .docs-page .docs-sidebar.dark-sidebar .docs-sidebar-wrapper .docs-version .version-select label {
      background: #444;
      border-color: #444;
      color: #ddd; }
    .docs-page .docs-sidebar.dark-sidebar .docs-sidebar-wrapper .docs-filter .form-control {
      background: #333;
      color: #999; }
    .docs-page .docs-sidebar.dark-sidebar .docs-sidebar-wrapper .docs-filter select {
      border: 0;
      border-radius: 6px; }
    .docs-page .docs-sidebar.dark-sidebar .docs-sidebar-wrapper .docs-filter .filter-icon i.fa {
      color: #aaa; }
    .docs-page .docs-sidebar.dark-sidebar .docs-sidebar-wrapper .docs-tree-list ul li a {
      color: #aaa;
      border-bottom: 1px solid #333; }
      .docs-page .docs-sidebar.dark-sidebar .docs-sidebar-wrapper .docs-tree-list ul li a:hover {
        color: #fff; }
      .docs-page .docs-sidebar.dark-sidebar .docs-sidebar-wrapper .docs-tree-list ul li a .plus-icon {
        font-size: .85em;
        transition: .3s;
        width: 18px;
        height: 18px;
        text-align: center;
        padding: 0;
        line-height: 1;
        border-radius: 50%;
        margin-right: 4px;
        position: absolute;
        left: 2px;
        top: 11px;
        color: #aaa;
        cursor: pointer; }
        .docs-page .docs-sidebar.dark-sidebar .docs-sidebar-wrapper .docs-tree-list ul li a .plus-icon.last-link {
          top: 11px; }
    .docs-page .docs-sidebar.dark-sidebar .docs-sidebar-wrapper .docs-tree-list ul li.selected-tree > a {
      color: #fff;
      transition: .4s; }
      .docs-page .docs-sidebar.dark-sidebar .docs-sidebar-wrapper .docs-tree-list ul li.selected-tree > a span .fa {
        color: #fff; }
      .docs-page .docs-sidebar.dark-sidebar .docs-sidebar-wrapper .docs-tree-list ul li.selected-tree > a span:not(.last-link) .fa {
        transform: rotate(90deg);
        color: #fff; }
    .docs-page .docs-sidebar.dark-sidebar .docs-top .navbar-logo .navbar-brand {
      color: #fff;
      text-transform: uppercase; }
    .docs-page .docs-sidebar.dark-sidebar .docs-top .navbar-logo .go-back-site {
      color: #fff; }
    .docs-page .docs-sidebar.dark-sidebar .docs-top .navbar-logo .navbar-logo-desc {
      color: #ddd; } }

@media (min-width: 1366px) {
  .container {
    max-width: 1340px; } }

@media (min-width: 1440px) {
  .container {
    max-width: 1400px; } }

@media (max-width: 767px) {
  .docs-page .docs-content article.docs-body h1 {
    padding-top: 1.5rem; }
  .docs-page {
    background: #f5f7f9; }
    .docs-page > .container-fluid {
      display: block; }
      .docs-page > .container-fluid > .row {
        display: block; }
    .docs-page .docs-sidebar {
      position: fixed;
      max-width: 100%;
      width: 100%;
      display: block;
      padding: 0 !important;
      top: 0;
      left: 0;
      z-index: 100;
      right: 0; }
      .docs-page .docs-sidebar .docs-sidebar-wrapper {
        max-width: 100%;
        width: 100%;
        top: 0px;
        position: relative;
        margin: 0 !important;
        height: 72px; }
        .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-tree-list {
          padding: .5rem 1.5rem 2rem 1.5rem;
          position: fixed;
          top: 70px;
          font-size: 17px;
          left: 0;
          width: 100%;
          z-index: 100;
          background: #f5f7f9;
          display: none; }
          .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-tree-list .docs-filter {
            position: relative;
            padding: 0 0 1rem !important; }
            .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-tree-list .docs-filter .filter-icon {
              left: 0px; }
      .docs-page .docs-sidebar .docs-top .navbar-logo {
        padding: 0rem;
        padding-top: .3rem;
        display: block;
        text-align: center; }
        .docs-page .docs-sidebar .docs-top .navbar-logo .navbar-brand {
          font-size: 1.5rem;
          font-weight: 700;
          display: block;
          margin-right: 0em;
          padding: 7px 0 10px;
          text-transform: uppercase; }
          .docs-page .docs-sidebar .docs-top .navbar-logo .navbar-brand .docs-logo {
            width: 110px; }
        .docs-page .docs-sidebar .docs-top .navbar-logo .go-back-site {
          display: none; }
        .docs-page .docs-sidebar .docs-top .navbar-logo .navbar-logo-desc {
          font-size: 1em;
          display: none; }
      .docs-page .docs-sidebar .docs-top .open-dmenu {
        position: absolute;
        top: 10px;
        left: 20px; }
    .docs-page .docs-content {
      padding-top: 72px;
      max-width: 100%;
      display: block !important; }
      .docs-page .docs-content .docs-text-field {
        padding: 1rem 1.5rem; }
    .docs-page .docs-page-index {
      display: none; } }

.for-mobile {
  display: none; }

.for-desktop {
  display: inline-block; }

pre[class*="language-"] {
  padding: 1.4em 2em !important;
  margin: 15px 0 25px !important;
  border-radius: 6px; }

code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 82%;
  background-color: #f0f1f3;
  border-radius: 3px;
  color: #28a745; }

@media (max-width: 767px) {
  body {
    font-size: 14px; }
  .for-mobile {
    display: inline-block; }
  .for-desktop {
    display: none; }
  .close-mmenu, .close-dmenu {
    position: absolute;
    top: -78px;
    left: 25px;
    color: #fff;
    font-size: 68px;
    background: #fff;
    opacity: 0; }
  .navbar {
    padding: .5rem 1.75rem; }
    .navbar .navbar-collapse {
      background: #38003d;
      position: fixed;
      top: 86px;
      left: 0;
      width: 100%;
      height: 100vh;
      height: calc(100vh - 86px);
      z-index: 100 !important; }
      .navbar .navbar-collapse .navbar-nav {
        height: 100vh;
        padding: 20px 30px;
        overflow: auto; }
        .navbar .navbar-collapse .navbar-nav .nav-link {
          padding: 1.2rem !important; }
    .navbar .navbar-toggler {
      padding: .5rem .75rem;
      font-size: 1.5rem;
      line-height: 1;
      background-color: transparent;
      border: 0;
      border-radius: .25rem;
      color: #fff !important;
      margin-left: -1rem; }
  .jumbotron .btn, footer .btn {
    display: block;
    margin-bottom: 10px; }
  .multi-tenancy {
    text-align: center !important; }
  .section-with-logos img {
    margin: 15px;
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }
  .jumbotron {
    padding-top: 160px;
    margin-top: -160px;
    border-radius: 0;
    padding-bottom: 40px;
    margin-bottom: 0;
    font-size: .85em;
    padding-left: 45px;
    padding-right: 45px; }
    .jumbotron .jumbotron-logo {
      display: none; }
  span.code-arrow {
    padding: 0px 0 0px;
    display: block;
    transform: rotate(90deg);
    font-size: 2em; }
  .mb-5, .my-5 {
    margin-bottom: 2rem !important; } }

