<footer class="footer bg-light">
    <div class="position-relative overflow-hidden text-center p-responsive">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="text-primary">Want to learn?</h4>
                    <p>
                        <a href="/documents" class="btn btn-primary">Documents</a>
                        <a href="/documents/abp/latest/Tutorials/AspNetCore-Mvc/Part-I" class="btn btn-outline-primary">Tutorials</a>
                    </p>
                </div>

                <div class="col-md-4">
                    <h4 class="text-primary">Join our community</h4>
                    <p>
                        <a href="https://github.com/abpframework/abp" target="_blank" class="btn btn-dark"><i class="fa fa-github"></i> GitHub</a>
                        <a href="https://stackoverflow.com/questions/tagged/abp" target="_blank" class="btn btn-warning"><i class="fa fa-stack-overflow"></i> Stack Overflow</a>
                        <a href="https://twitter.com/abpframework" target="_blank" class="btn btn-blue"><i class="fa fa-twitter"></i> Twitter</a>
                    </p>
                </div>

                <div class="col-md-4">
                    <h4 class="text-primary">Ready to get started?</h4>
                    <p>
                        <a href="/Templates" class="btn btn-success">Create New Project <i class="fa fa-long-arrow-right"></i> </a>
                    </p>
                </div>
            </div>
        </div>
        <a href="https://github.com/abpframework/abp" target="_blank"><img class="forkme" src="/assets/fork.png" alt="Fork me on GitHub"></a>
        <hr>
        <div class="container text-center p-4">
            <p>
                2013 - @DateTime.Now.Year © <a target="_blank" href="https://volosoft.com/">Volosoft</a>. Open source license with <a target="_blank" href="https://github.com/abpframework/abp/blob/master/LICENSE">LGPLv3.0</a>.
            </p>
            <img src="~/assets/abp-logo-dark.svg" class="footer-logo mt-4">
        </div>
    </div>
</footer>