@page
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Demo.Views.Components.Themes.Shared.Demos.ListGroupsDemo
@model Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Demo.Pages.Components.ListGroups.IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = "List Groups";
}
<h2>List Groups</h2>
<p>Based on <a href="https://getbootstrap.com/docs/4.1/components/list-group/" target="_blank"> Bootstrap List Group</a>.</p>
<p>Check the <a href="https://docs.abp.io/en/abp/latest/UI/AspNetCore/Tag-Helpers/List-Groups" target="_blank">ABP Documentation</a>.</p>

@await Component.InvokeAsync(typeof(ListGroupsDemoViewComponent))