@page
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Http
@model MicroserviceDemo.Web.Pages.IndexModel
@inject IHttpContextAccessor HttpContextAccessor
<p>
    <abp-card>
        <abp-card-header></abp-card-header>
        <abp-card-body>
            <a href="~/Account/Login">Login</a>

            @if (User.Identity.IsAuthenticated)
            {
                foreach (var claim in User.Claims)
                {
                    <div>@claim.Type = @claim.Value</div>
                }
            }

            <hr />

            @{
                var accessToken = await HttpContextAccessor.HttpContext.GetTokenAsync("access_token");
                var refreshToken = await HttpContextAccessor.HttpContext.GetTokenAsync("refresh_token");
            }

            accessToken = @accessToken <br />
            refreshToken = @refreshToken <br />
            
            isInRole(admin) = @User.IsInRole("admin")

        </abp-card-body>
    </abp-card>
</p>