@page "/"
@inherits MyProjectNameComponentBase
<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                @L["Welcome_Title"]
            </h5>
        </div>
        <div class="card-body">
            @L["Welcome_Text"]
        </div>
    </div>
</div>
