@inject IHtmlLocalizer<DashboardDemoResource> L
@using DashboardDemo.Localization.DashboardDemo
@using Microsoft.AspNetCore.Mvc.Localization
@model DashboardDemo.Pages.widgets.RoleListWidgetViewComponent
@{
}
<div id="RoleListWidgetContainer">
    <abp-card background="Light">
        <abp-card-header background="Warning"> @L["RolesInApplication"] :</abp-card-header>
        <abp-card-body>
            <ul id="RoleList">

            </ul>
        </abp-card-body>
    </abp-card>
</div>

