@page
@model MicroserviceDemo.AuthServer.Pages.IndexModel

<h3>Welcome to the Authentication Server!</h3>

<abp-card>
    <abp-card-header></abp-card-header>
    <abp-card-body>
        <a href="~/Account/Login">Login</a>
            
        @if (User.Identity.IsAuthenticated)
        {
            foreach (var claim in User.Claims)
            {
                <div>@claim.Type = @claim.Value</div>
            }
        }

    </abp-card-body>
</abp-card>