@inject IHtmlLocalizer<DashboardDemoResource> L
@using DashboardDemo.Localization.DashboardDemo
@using Microsoft.AspNetCore.Mvc.Localization
@model DashboardDemo.Pages.widgets.Filters.RefreshGlobalFilterViewComponent
@{
}
<div id="RefreshGlobalFilterContainer">
    <abp-button button-type="Success" text="@L["Refresh"].Value" id="GlobalRefreshButton"/>
</div>

