@page
@model Volo.AbpWebSite.Pages.ApplicationsModel
@{
    ViewBag.PageTitle = "Applications";
}
<div class="row applications-container">
    <div class="col-md-8 mx-auto">
        <div class="row"> 
            <div class="col-lg-4 offset-lg-1 col-md-6">
                <abp-card >
                    <img abp-card-image="Top" src="/assets/applications/application-screenshot-voloblog.jpg" />
                    <abp-card-body background="Light">
                        <abp-card-text>VoloBlog is an open-source basic blog module. The product is being developed...</abp-card-text>
                        <a abp-button="Primary" href="#" disabled="true"> Get Started</a>
                    </abp-card-body>
                </abp-card>
            </div>
            
            <div class="col-lg-4 offset-lg-1  col-md-6">
                <abp-card>
                    <img abp-card-image="Top" src="/assets/applications/application-screenshot-volodocs.jpg" />
                    <abp-card-body background="Light">
                        <abp-card-text>VoloDocs is a cross-platform web application that allows you to easily create beautiful documentation</abp-card-text>
                        <a abp-button="Primary" href="#"> Get Started</a>
                    </abp-card-body>
                </abp-card>
            </div>
        </div>
    </div>
</div>
