@using Volo.Abp.Account.Localization
@using Volo.Abp.Users
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<AccountResource> L
@inject ICurrentUser CurrentUser
@model Volo.Abp.Account.Web.Pages.Account.Components.ProfileManagementGroup.Password.AccountProfilePasswordManagementGroupViewComponent.ChangePasswordInfoModel

<h4>@L["ChangePassword"]</h4><hr/>
<form id="ChangePasswordForm">
    @if (!Model.HideOldPasswordInput)
    {
        <abp-input asp-for="CurrentPassword" class="password-visibility" />
    }
    <abp-input asp-for="NewPassword" class="password-visibility" />
    <abp-input asp-for="NewPasswordConfirm" class="password-visibility" />
    <button class="btn btn-secondary" type="button" id="PasswordVisibilityButton"><i class="fa fa-eye-slash" aria-hidden="true"></i></button>
    <abp-button type="submit" button-type="Primary" text="@L["Submit"].Value" />
</form>