@page "/"
@using Volo.Abp.Identity
@inject IProfileAppService ProfileAppService

<h1>Hello, world!</h1>

<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>

Welcome to your new app.

<h2>Remote Service Test</h2>

<h4>Current user name: @_userName</h4>
<button class="btn btn-primary" @onclick="GetUserNameAsync">Click me (after login)</button>

@code
{
    private string _userName = "?";

    private async Task GetUserNameAsync()
    {
        _userName = (await ProfileAppService.GetAsync()).UserName;
    }
}