@page "/role-management"
@attribute [Authorize]
@using Volo.Abp.Identity
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Identity.Localization
@inject IIdentityRoleAppService RoleAppService
@inject IStringLocalizer<IdentityResource> L

<h1>@L["Roles"]</h1>

<DataGrid TItem="IdentityRoleDto"
          Data="_roles"
          ReadData="OnDataGridReadAsync"
          TotalItems="_totalCount"
          ShowPager="true">
    <DataGridColumns>
        <DataGridColumn TItem="IdentityRoleDto" Field="@nameof(IdentityRoleDto.Name)" Caption="Actions">
            <DisplayTemplate>
                <Dropdown>
                    <DropdownToggle Color="Color.Primary">
                        Actions
                    </DropdownToggle>
                    <DropdownMenu>
                        <DropdownItem>Edit</DropdownItem>
                        <DropdownItem>Manage Permissions</DropdownItem>
                        <DropdownDivider />
                        <DropdownItem Clicked="() => DeleteRoleAsync(context.As<IdentityRoleDto>().Id)">Delete</DropdownItem>
                    </DropdownMenu>
                </Dropdown>
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="IdentityRoleDto" Field="@nameof(IdentityRoleDto.Name)" Caption="Name"/>
    </DataGridColumns>
</DataGrid>

<h2>New Role</h2>

<label>Name:</label>
<input type="text" name="RoleName" @bind="_newRole.Name" />
<button class="btn btn-primary" @onclick="CreateRoleAsync">Create!</button>