@page "/user-management"
@attribute [Authorize]
@using Volo.Abp.Identity
@using Microsoft.AspNetCore.Authorization
@inject IIdentityUserAppService UserAppService

<h1>UserManagement</h1>

<button class="btn btn-primary" @onclick="GetUsersAsync">Get user list</button>

@if (_users != null)
{
    <ul class="mt-2">
        @foreach (var user in _users)
        {
            <li>@user.UserName / @user.Email</li>
        }
    </ul>
    <p>Total user count: @_totalUserCount</p>
}

@code {
    private long _totalUserCount = 0;
    private IReadOnlyList<IdentityUserDto> _users;

    private async Task GetUsersAsync()
    {
        var result = await UserAppService.GetListAsync(new GetIdentityUsersInput());
        _totalUserCount = result.TotalCount;
        _users = result.Items;
    }
}