@model DashboardDemo.Web.Pages.Shared.Components.MySimpleWidget.MySimpleWidgetViewModel
<div class="my-simple-widget">
    <h2>My Simple Widget</h2>
    <p>Hello <strong>@Model.Name</strong>! This is a simple widget!</p>
</div>