.global-header {
    display: none;
    .navbar {
        background: rgba(255, 255, 255, 0.2);
        .products-link {
            border: 1px solid rgba(255, 255, 255, 0.75);
            border-radius: .2rem;
            margin: 0 10px;
            padding-top: 0.36rem;
            padding-bottom: 0.36rem;
        }
        .search-item {
            position: relative;
            input.form-control {
                background: none;
                border: 1px solid rgba(255, 255, 255, 0.25);
                border-radius: .2rem;
                color: #fff;
                padding-left: 2.5rem;
                min-width: 280px;
                &::-webkit-input-placeholder {
                    color: rgba(255, 255, 255, 0.25)!important;
                }
                &:-moz-placeholder {
                    color: rgba(255, 255, 255, 0.25)!important;
                }
                &::-moz-placeholder {
                    color: rgba(255, 255, 255, 0.25)!important;
                }
                &:-ms-input-placeholder {
                    color: rgba(255, 255, 255, 0.25)!important;
                }
            }
            .btn-search {
                position: absolute;
                top: -2px;
                left: -1px;
                background: none;
            }
        }
    }
}

header {
    .btn {
        background: #fff;

        &.btn-login, &.btn-logout {
            border: 2px solid #fff;
            color: #fff;
            background: transparent;
            margin-right: 6px;

            &:hover {
                background: #fff;
                color: #e90052;
            }
        }
         
    }
}

.product-header {
    font-size: 1.1rem;
    .navbar-brand {
        font-size: 1.75rem;
    }
}


.home-logo {
    width: 120px;
}

.jumbotron-logo {
    width: 240px;
    margin-bottom: 40px;
}


.forkme {
    position: fixed;
    bottom: 0px;
    right: 0px;
}