
.jumbotron {
    background: rgb(0, 107, 240);
    background: -moz-linear-gradient(left, rgba(0, 107, 240, 1) 0%, rgba(64, 255, 176, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 107, 240, 1) 0%, rgba(64, 255, 176, 1) 100%);
    background: linear-gradient(to right, rgba(56, 0, 60, 0.9) 0%, rgba(185, 0, 74, 0.78)  100%); 
    margin-top: -120px;
    border-radius: 0; 
    margin-bottom: 0;
    height: 90vh;
    &.jumbocover {
        padding: 120px 0 20px;
        height: auto;
    }
    > .row {
        height: calc(90vh - 120px);
    }
    .abp-version {
        position: absolute;
      font-size: 11px;
      /* font-weight: bold; */
      right: 1px;
      top: -2px;
      padding: 1px 4px 0;
      display: inline-block;
      color: #fff;
      background: rgba(233, 3, 82, 0.7);
      border-radius: 3px;
      opacity: 0.8;
    }
    .desc-span { 
        font-size: 1.4em;
        font-style: italic;
        opacity: .7;
    }
}

.section-with-logos {
    img {
        margin: 25px;
        max-height: 50px;
        transition: .4s;
        opacity: .6;
        -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
        filter: grayscale(60%);

        &:hover {
            opacity: 1;
            -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
            filter: grayscale(0%);
        }
    }
}
img.subsection-icon {
    width: 64px;
    height: 64px;
}

.toggle-row {
    display: none; 
}
.btn-toggle {
    .lessText {display: none;}
    .moreText {display: block;}
    &.less { 
    .lessText {display: block;}
    .moreText {display: none;} 
    }
}


.abp-browser { 
    margin: 3rem 0 1rem;
    text-align: left;  
    border-radius: 6px; 
    overflow: hidden;
    .browser-container {
        border: 1px solid #eee;
    } 
    .browser-row {
        padding: 4px 10px;
        background: #e5e5e5; 
    }   
    .browser-row:after {
        content: "";
        display: table;
        clear: both;
    } 
    .browser-dot {
        margin-top: 2px;
        margin-right: 2px;
        height: 12px;
        width: 12px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    } 
    .abp-browser input[type=text] {
        width: 100%;
        border-radius: 3px;
        border: none;
        background-color: white;
        margin-top: -8px;
        height: 25px;
        color: #666;
        padding: 5px;
    } 
    .browser-bar {
        width: 17px;
        height: 3px;
        background-color: #aaa;
        margin: 3px 0;
        display: block;
    } 
    .browser-content {
        padding: 2rem;
        background: #f5f5f5;
    }

    .bg-primary,
    .btn-primary,
    .badge-primary {
        background-color: #007bff!important;
        border-color: #007bff!important;
    }
    .btn-outline-primary { 
        color: #007bff!important;
        border-color: #007bff!important;
        &:hover { 
            background-color: #007bff!important;
            color: #fff!important;
        }
    }
}

span.code-arrow {
    padding: 52px 0 18px;
    display: block;
    font-size: 40px;
}