@import "bootstrap-overwrite.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
@import "docs.scss"; 
@media (max-width: 767px) { 
    @import "responsive.scss"; 
}

.vs-blog {
    margin-top: -88px !important;
}

.abp-account-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: -88px !important;
}