@using Volo.Abp.UI.Navigation
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    
    <vc:abp-style-bundle name="GlobalStyles"></vc:abp-style-bundle>

    @RenderSection("styles", false)
</head>
<body>

    <!-- We should pass all optional parapeters because of a bug in MVC -->
    <vc:abp-menu menu-name="@StandardMenus.Main" view-name="Default"></vc:abp-menu>

    @RenderBody()
    
    <vc:abp-script-bundle name="GlobalScripts"></vc:abp-script-bundle>

</body>
</html>