@using AbpDesk.Web.Mvc.Views.Shared.Components
@using AbpDesk.Web.Mvc.Views.Shared.Components.HorizontalMenu
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>

    @RenderSection("styles", false)
</head>
<body>

    @await Component.InvokeAsync(typeof(HorizontalMenuViewComponent))

    @RenderBody()

</body>
</html>