@using Volo.Abp.Ui.Navigation
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>

    @RenderSection("styles", false)
</head>
<body>

    <!-- We should pass all optional parapeters because of a bug in MVC -->
    <vc:menu menu-name="@StandardMenus.Main" view-name="Default"></vc:menu>

    @RenderBody()

</body>
</html>