@page
@model Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo.Pages.Components.ButtonsModel
@{
    ViewData["Title"] = "Buttons";
}

@section styles {
    <abp-style-bundle>
        <abp-style src="/css/demo.css" />
    </abp-style-bundle>
}

<h2>Buttons</h2>

<p>Based on <a href="http://getbootstrap.com/docs/4.1/components/buttons/" target="_blank"> Bootstrap button</a>.</p>

<h4># Example</h4>

<div class="demo-with-code">
    <div class="demo-area">
        <abp-button text="Default" />
        <abp-button button-type="Primary">Primary</abp-button>
        <abp-button button-type="Secondary">Secondary</abp-button>
        <abp-button button-type="Success">Success</abp-button>
        <abp-button button-type="Danger">Danger</abp-button>
        <abp-button button-type="Warning">Warning</abp-button>
        <abp-button button-type="Info">Info</abp-button>
        <abp-button button-type="Light">Light</abp-button>
        <abp-button button-type="Dark">Dark</abp-button>
        <abp-button button-type="Link">Link</abp-button>
    </div>
    <div class="code-area">
        <pre>
&lt;abp-button text=&quot;Default&quot;/&gt;
&lt;abp-button button-type="Primary"&gt;Primary&lt;/abp-button&gt;
&lt;abp-button button-type="Secondary"&gt;Secondary&lt;/abp-button&gt;
&lt;abp-button button-type="Success"&gt;Success&lt;/abp-button&gt;
&lt;abp-button button-type="Danger"&gt;Danger&lt;/abp-button&gt;
&lt;abp-button button-type="Warning"&gt;Warning&lt;/abp-button&gt;
&lt;abp-button button-type="Info"&gt;Info&lt;/abp-button&gt;
&lt;abp-button button-type="Light"&gt;Light&lt;/abp-button&gt;
&lt;abp-button button-type="Dark"&gt;Dark&lt;/abp-button&gt;
&lt;abp-button button-type="Link"&gt;Link&lt;/abp-button&gt;
</pre>
    </div>
</div>

<h4># Example</h4>

<div class="demo-with-code">
    <div class="demo-area" style="margin: 35px;">
        <a abp-button="Primary" href="#">Link</a>
        <abp-button button-type="Primary" type="submit" text="Button" />
        <input abp-button="Primary" value="Input" />
        <input abp-button="Primary" type="submit" value="Submit" />
        <input abp-button="Primary" type="reset" value="Reset" />
    </div>
    <div class="code-area">
        <pre>
&lt;a abp-button="Primary" href="#"&gt;Link&lt;/a&gt;
&lt;abp-button button-type=&quot;Primary&quot; type=&quot;submit&quot; text=&quot;Button&quot;/&gt;
&lt;input abp-button="Primary" value="Input" /&gt;
&lt;input abp-button="Primary" type="submit" value="Submit" /&gt;
&lt;input abp-button="Primary" type="reset" value="Reset" /&gt;
</pre>
    </div>
</div>

<h4># Example</h4>

<div class="demo-with-code">
    <div class="demo-area">
        <abp-button size="Default" text="Default" />
        <abp-button size="Small" text="Small" />
        <abp-button size="Medium" text="Medium" />
        <abp-button size="Large" text="Large" />
    </div>
    <div class="code-area">
        <pre>
&lt;abp-button size=&quot;Default&quot; text=&quot;Default&quot; /&gt;
&lt;abp-button size=&quot;Small&quot; text=&quot;Small&quot; /&gt;
&lt;abp-button size=&quot;Medium&quot; text=&quot;Medium&quot; /&gt;
&lt;abp-button size=&quot;Large&quot; text=&quot;Large&quot; /&gt;
</pre>
    </div>
</div>

<h4># Example</h4>


<div class="demo-with-code">
    <div class="demo-area">
        <abp-button block="true" text="Block" />
    </div>
    <div class="code-area">
        <pre>
&lt;abp-button block=&quot;true&quot; text=&quot;Block&quot; /&gt;
</pre>
    </div>
</div>

<h4># Example</h4>

<div class="demo-with-code">
    <div class="demo-area">
        <abp-button icon-type="FontAwesome" icon="info" text="With Icon" />
    </div>
    <div class="code-area">
        <pre>
&lt;abp-button icon-type=&quot;FontAwesome&quot; icon=&quot;info&quot; text=&quot;With Icon&quot;/&gt;
</pre>
    </div>
</div>

<h4># Example</h4>

<div class="demo-with-code">
    <div class="demo-area">
        <abp-button text="Busy" busy-text="Saving..." />
    </div>
    <div class="code-area">
        <pre>
&lt;abp-button text=&quot;Busy&quot; busy-text=&quot;Saving...&quot;/&gt;
</pre>
    </div>
</div>

<h4># Group Examples</h4>

<div class="demo-with-code">
    <div class="demo-area">

        <abp-button-group>
            <abp-button>Left</abp-button>
            <abp-button>Middle</abp-button>
            <abp-button>Right</abp-button>
        </abp-button-group>

        <abp-button-group size="Large">
            <abp-button button-type="Primary">Primary</abp-button>
            <abp-button button-type="Secondary">Secondary</abp-button>
            <abp-button button-type="Success">Success</abp-button>
        </abp-button-group>

        <abp-button-group direction="Vertical" size="Small">
            <abp-button button-type="Primary">Top</abp-button>
            <abp-button button-type="Warning">Middle</abp-button>
            <abp-button button-type="Danger">Bottom</abp-button>
        </abp-button-group>
    </div>
    <div class="code-area">
        <pre>

&lt;abp-button-group&gt;
    &lt;abp-button&gt; Left &lt;/abp-button&gt;
    &lt;abp-button&gt; Middle &lt;/abp-button&gt;
    &lt;abp-button&gt; Right &lt;/abp-button&gt;
&lt;/abp-button-group&gt;

&lt;abp-button-group size=&quot;Large&quot;&gt;
    &lt;abp-button button-type=&quot;Primary&quot;&gt; Primary &lt;/abp-button&gt;
    &lt;abp-button button-type=&quot;Secondary&quot;&gt; Secondary &lt;/abp-button&gt;
    &lt;abp-button button-type=&quot;Success&quot;&gt; Success &lt;/abp-button&gt;
&lt;/abp-button-group&gt;

&lt;abp-button-group direction=&quot;Vertical&quot; size=&quot;Small&quot;&gt;
    &lt;abp-button button-type=&quot;Primary&quot;&gt; Top &lt;/abp-button&gt;
    &lt;abp-button button-type=&quot;Warning&quot;&gt; Middle &lt;/abp-button&gt;
    &lt;abp-button button-type=&quot;Danger&quot;&gt; Bottom &lt;/abp-button&gt;
&lt;/abp-button-group&gt;
</pre>
    </div>
</div>