@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo.Pages.Components.CollapseModel
@{
    ViewData["Title"] = "Collapse";
}

<h2>Collapse</h2>

<p>Based on <a href="https://getbootstrap.com/docs/4.1/components/collapse/" target="_blank"> Bootstrap Collapse</a>.</p>

<h4># Accordion Example</h4>

<div class="demo-with-code">
    <div class="demo-area">

        <abp-accordion>
            <abp-accordion-item title="header1">
                1Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry rtat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </abp-accordion-item>
            <abp-accordion-item title="header2">
                2Anim pariatur cliche reprehenderit,, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </abp-accordion-item>
            <abp-accordion-item title="header3">
                3Anim pariatur  wolf moon tempor,,, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </abp-accordion-item>
        </abp-accordion>

    </div>
    <div class="code-area">
        <pre>
&lt;abp-accordion&gt;
    &lt;abp-accordion-item title=&quot;header1&quot;&gt;
       1Anim pariatur cliche reprehenderit, enim eiusmod high life acc
    &lt;/abp-accordion-item&gt;
    &lt;abp-accordion-item title=&quot;header2&quot;&gt;
       2Anim pariatur cliche reprehenderit,, enim eiusmod high life
    &lt;/abp-accordion-item&gt;
    &lt;abp-accordion-item title=&quot;header3&quot;&gt;
       3Anim pariatur  wolf moon tempor,,, sunt aliqua put a bird on i
    &lt;/abp-accordion-item&gt;
&lt;/abp-accordion&gt;
</pre>
    </div>
</div>

<h4># Collapse With Button Example</h4>

<div class="demo-with-code">
    <div class="demo-area">
        
        <p>
            <abp-collapse-button buton-type="Success" body-id="collapseExample">
                Toggle
            </abp-collapse-button>
        </p>
        
        <abp-collapse-body id="collapseExample" show="true">
            3Anim pariatur  wolf moon tempor,,, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </abp-collapse-body>

    </div>
    <div class="code-area">
        <pre>
&lt;p&gt;
   &lt;abp-collapse-button buton-type=&quot;Success&quot; body-id=&quot;collapseExample&quot;&gt;
       Toggle
   &lt;/abp-collapse-button&gt;
&lt;/p&gt;
        
&lt;abp-collapse-body id=&quot;collapseExample&quot; show=&quot;true&quot;&gt;
   3Anim pariatur  wolf moon tempor,,, sunt aliqua put a bir
&lt;/abp-collapse-body&gt;
</pre>
    </div>
</div>
