@page
@model Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo.Pages.Components.PaginatorModel
@{
    ViewData["Title"] = "Paginator";
}

@section styles {
    <abp-style-bundle>
        <abp-style src="/css/demo.css" />
    </abp-style-bundle>
}

<h2>Paginator</h2>

<h4># Paginator Examples</h4>

<div class="demo-with-code">
    <div class="demo-area">

        <abp-paginator model="@Model.PagerModel" />

    </div>
    <div class="code-area">
        <pre>
&lt;abp-paginator model=&quot;Model.PagerModel&quot;/&gt;
</pre>
    </div>
</div>
<br>
<br>
<br>
<div class="demo-with-code">
    <div class="demo-area">

        <abp-paginator model="@Model.PagerModel" show-info="true" />

    </div>
    <div class="code-area">
        <pre>
&lt;abp-paginator model=&quot;Model.PagerModel&quot; show-info=&quot;true&quot;/&gt;
</pre>
    </div>
</div>
