@page
@using Volo.Blogging.Pages.Blog
@inherits BloggingPage
@model IndexModel
@{
    ViewBag.PageTitle = "Blogs";
}
<h2>
    @L["Blogs"]
</h2>

<ul>
    @foreach (var blog in Model.Blogs)
    {
        <li><a asp-page="./Posts/Index" asp-route-blogShortName="@blog.ShortName">@blog.Name</a></li>
    }
</ul>
