@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.CmsKit.Localization

@section scripts {
    <abp-script-bundle>
        <abp-script src="/client-proxies/cms-kit-admin-proxy.js" /> // TODO: Remove this line and then check
        <abp-script src="/client-proxies/cms-kit-common-proxy.js" />  // TODO: Remove this line and then check
        <abp-script src="/Pages/CmsKit/Shared/Components/Comments/index.js"></abp-script>
    </abp-script-bundle>
}
@{
    @inject IHtmlLocalizer<CmsKitResource> L

    <abp-form id="deneme1" form="CmsKitCommentSettingsForm">
        <h4>@L["CmsKitCommentOptions:Title"].Value</h4>
        <hr />
        <div class="form-group">
            <div class="form-check">
                <input type="checkbox" id="checkbox" class="form-check-input" name="checkbox"  />
                <label for="checkbox" class="form-check-label">@L["CmsKitCommentOptions:RequireApprovement"].Value</label>
            </div>
            <small id="checkboxHelp" class="form-text text-muted">@L["CmsKitCommentOptions:RequireApprovementDescription"].Value</small>
        </div>

        <div style="float:right" class="text-right mt-3">
            <abp-button id="save" type="submit" class="btn btn-primary">
                @L["SaveChanges"].Value
            </abp-button>
        </div>
    </abp-form>
}


