@page
@using Microsoft.Extensions.Localization
@using Volo.Abp.MultiTenancy.Web.Localization.Resources.AbpMultiTenancy
@using Volo.Abp.MultiTenancy.Web.Pages.MultiTenancy.Tenants
@model CreateModalModel
@inject IStringLocalizer<AbpMultiTenancyResource> L
@{
    Layout = null;
}

<form method="post" asp-page="/MultiTenancy/Tenants/CreateModal">

    <abp-modal>

        <abp-modal-header title="@L["NewTenant"]"></abp-modal-header>

        <abp-modal-body>

            <div class="form-group">
                <label asp-for="TenantModel.Name"></label>
                <input asp-for="TenantModel.Name" class="form-control" />
                <span asp-validation-for="TenantModel.Name" class="text-danger"></span>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

        </abp-modal-body>

        <abp-modal-footer></abp-modal-footer>

    </abp-modal>

</form>
