@page
@using Microsoft.Extensions.Localization
@using Volo.Abp.MultiTenancy.Web.Localization.Resources.AbpMultiTenancy
@using Volo.Abp.MultiTenancy.Web.Pages.MultiTenancy.Tenants
@model EditModalModel
@inject IStringLocalizer<AbpMultiTenancyResource> L
@{
    Layout = null;
}

<form method="post" asp-page="/MultiTenancy/Tenants/EditModal" autocomplete="off">

    <abp-modal>

        <abp-modal-header title="@L["Edit"]"></abp-modal-header>

        <abp-modal-body>

            <input asp-for="TenantInfo.Id" />

            <div class="form-group">
                <label asp-for="TenantInfo.Name"></label>
                <input asp-for="TenantInfo.Name" class="form-control"/>
                <span asp-validation-for="TenantInfo.Name" class="text-danger"></span>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

        </abp-modal-body>

        <abp-modal-footer></abp-modal-footer>

    </abp-modal>

</form>