@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.MultiTenancy.Web.Localization.Resources.AbpMultiTenancy
@using Volo.Abp.MultiTenancy.Web.Pages.MultiTenancy.Tenants
@model IndexModel
@{
}
@inject IHtmlLocalizer<AbpMultiTenancyResource> L
@section styles {
    <link rel="stylesheet" type="text/css" href="~/modules/multi-tenancy/views/tenants/index.css" />
}

@section scripts {
    <script type="text/javascript" src="~/abp/helpers/jquery.js"></script>
    <script type="text/javascript" src="~/abp/helpers/datatables.extensions.js"></script>
    <script type="text/javascript" src="~/abp/helpers/ResourceLoader.js"></script>
    <script type="text/javascript" src="~/abp/helpers/ModalManager.js"></script>
    <script type="text/javascript" src="~/modules/multi-tenancy/views/tenants/index.js"></script>
}

<abp-card id="TenantsWrapper">
    <abp-card-header>
        <div class="row">
            <div class="col-md-6">
                <h2>@L["Tenants"]</h2>
            </div>
            <div class="col-md-6 text-right">
                <button type="button" class="btn btn-primary" v-on:click="openCreateModal">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    @L["NewTenant"]
                </button>
            </div>
        </div>
    </abp-card-header>
    <abp-card-body>
        <table class="table table-striped nowrap">
            <thead>
            <tr>
                <th>@L["Actions"]</th>
                <th>@L["Name"]</th>
            </tr>
            </thead>
        </table>
    </abp-card-body>
</abp-card>