#qa-new-post-container .new-post-editor {
    background-color: #F9F9F9;
    min-height: 19.5em;
}
#qa-new-post-container .new-post-editor .ProseMirror {
    min-height: 20em;
}

#qa-new-post-container .card {
    background-color: #f6f8fa;
}

#qa-new-post-container .loading-cover {
    min-height: 19.5em;
}

