@using Localization.Resources.AbpUi
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Views.Shared.Components.Theme.MainNavbarMenu
@using Volo.Abp.MultiTenancy
@using Volo.Abp.Users
@inject ICurrentUser CurrentUser
@inject ICurrentTenant CurrentTenant
@inject IHtmlLocalizer<AbpUiResource> L
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" id="main-navbar">
    <a class="navbar-brand" href="~/"><i>Project</i>Name</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar-collapse" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navbar-collapse">
        <ul class="navbar-nav mr-auto">
            @(await Component.InvokeAsync<MainNavbarMenuViewComponent>())
            @* TODO: Menu *@
        </ul>

        <span id="main-navbar-tools">
            @if (CurrentUser.IsAuthenticated)
            {
                <span style="color: #fff">@CurrentUser.UserName</span> <text>(<a href="/Account/Logout">@L["Logout"]</a>)</text>
            }
            else
            {
                <a href="/Account/Login">Login</a>
            }
        </span>
    </div>
</nav>
