@page
@inherits Acme.BookStore.BookManagement.Web.Pages.BookManagementPage
@model Acme.BookStore.BookManagement.Web.Pages.BookManagement.IndexModel
@{
}
<h1>BookManagement</h1>
<p>A sample page for the BookManagement module.</p>