@page "/"
@using Volo.Abp.MultiTenancy
@inherits MyProjectNameComponentBase
@inject ICurrentTenant CurrentTenant
@inject AuthenticationStateProvider AuthenticationStateProvider
<div class="container">
    <div class="p-5 text-center">

        @if (!CurrentUser.IsAuthenticated)
        {
            <a class="btn btn-primary" href="/Account/Login"><i class="fa fa-sign-in"></i> @L["Login"]</a>
        }
        else
        {
            <strong>Claims</strong><br />
            @foreach (var claims in CurrentUser.GetAllClaims())
            {
                <p>@($"{claims.Type}={claims.Value}")</p>
            }
        }
    </div>
</div>
