<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html style="-webkit-text-size-adjust: none;-ms-text-size-adjust: none;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Abp vNext | {EMAIL_TITLE}</title>
</head>
<body style="padding: 0px; margin: 0px;">
    <div id="mailsub" class="notification" align="center">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" bgcolor="#eff3f8">
                    <!--[if gte mso 10]>
                    <table width="680" border="0" cellspacing="0" cellpadding="0">
                    <tr><td>
                    <![endif]-->
                    <table border="0" cellspacing="0" cellpadding="0" class="table_width_100" width="100%" style="max-width: 680px;">
                        <!--header -->
                        <tr>
                            <td align="center" bgcolor="#eff3f8">
                                <!-- padding --><div style="height: 20px; line-height: 20px; font-size: 10px;">&nbsp;</div>
                                <table width="96%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="left">
                                            <!--Item -->
                                            <div class="mob_center_bl" style="float: left; display: inline-block; width: 115px;">
                                                <table class="mob_center" width="115" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
                                                    <tr>
                                                        <td align="left" valign="middle">
                                                            <!-- padding --><div style="height: 20px; line-height: 20px; font-size: 10px;">&nbsp;</div>
                                                            <table width="115" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td align="left" valign="top" class="mob_center">
                                                                        <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 13px;">
                                                                            <font face="Arial, Helvetica, sans-seri; font-size: 13px;" size="3" color="#596167">
                                                                                <img src="{EMAIL_LOGO_URL}" width="168" height="33" alt="AbpZeroTemplate" border="0" style="display: block;">
                                                                            </font>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div><!-- Item END-->
                                            <!--[if gte mso 10]>
                                                </td>
                                                <td align="right">
                                            <![endif]-->
                                            <!--

                                            Item -->
                                            <div class="mob_center_bl" style="float: right; display: inline-block; width: 88px;">
                                                <table width="88" border="0" cellspacing="0" cellpadding="0" align="right" style="border-collapse: collapse;">
                                                    <tr>
                                                        <td align="right" valign="middle">
                                                            <!-- padding --><div style="height: 20px; line-height: 20px; font-size: 10px;">&nbsp;</div>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td align="right">
                                                                        <!--social -->
                                                                        <div class="mob_center_bl" style="width: 88px;">
                                                                            <table border="0" cellspacing="0" cellpadding="0">
                                                                                <tr>
                                                                                    <td width="39" align="center" style="line-height: 19px;">
                                                                                        <a href="https://twitter.com/aspnetzero" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
                                                                                            <font face="Arial, Helvetica, sans-serif" size="2" color="#596167">
                                                                                                <img src="https://g.twimg.com/dev/documentation/image/Twitter_logo_blue_32.png" width="19" height="16" alt="Twitter" border="0" style="display: block;">
                                                                                            </font>
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                        <!--social END-->
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div><!-- Item END-->
                                        </td>
                                    </tr>
                                </table>
                                <!-- padding --><div style="height: 30px; line-height: 30px; font-size: 10px;">&nbsp;</div>
                            </td>
                        </tr>
                        <!--header END-->
                        <!--content 1 -->
                        <tr>
                            <td align="center" bgcolor="#ffffff">
                                <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center">
                                            <!-- padding --><div style="height: 100px; line-height: 100px; font-size: 10px;">&nbsp;</div>
                                            <div style="line-height: 44px;">
                                                <font face="Arial, Helvetica, sans-serif" size="5" color="#57697e" style="font-size: 34px;">
                                                    <span style="font-family: Arial, Helvetica, sans-serif; font-size: 34px; color: #57697e;">
                                                        {EMAIL_TITLE}
                                                    </span>
                                                </font>
                                            </div>
                                            <!-- padding --><div style="height: 30px; line-height: 30px; font-size: 10px;">&nbsp;</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <div style="line-height: 30px;">
                                                <font face="Arial, Helvetica, sans-serif" size="5" color="#4db3a4" style="font-size: 17px;">
                                                    <span style="font-family: Arial, Helvetica, sans-serif; font-size: 17px; color: #4db3a4;">
                                                        {EMAIL_SUB_TITLE}
                                                    </span>
                                                </font>
                                            </div>
                                            <!-- padding --><div style="height: 35px; line-height: 35px; font-size: 10px;">&nbsp;</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <table width="80%" align="center" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td align="center">
                                                        <div style="line-height: 24px;">
                                                            <font face="Arial, Helvetica, sans-serif" size="4" color="#57697e" style="font-size: 16px;">
                                                                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #57697e;">
                                                                    {EMAIL_BODY}
                                                                </span>
                                                            </font>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- padding --><div style="height: 45px; line-height: 45px; font-size: 10px;">&nbsp;</div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!--content 1 END-->
                        <!--footer -->
                        <tr>
                            <td class="iage_footer" align="center" bgcolor="#eff3f8">
                                <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;">&nbsp;</div>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center">
                                            <font face="Arial, Helvetica, sans-serif" size="3" color="#96a5b5" style="font-size: 13px;">
                                                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #96a5b5;">
                                                    2019 &copy; ABP Application.
                                                </span>
                                            </font>
                                        </td>
                                    </tr>
                                </table>
                                <!-- padding --><div style="height: 50px; line-height: 50px; font-size: 10px;">&nbsp;</div>
                            </td>
                        </tr>
                        <!--footer END-->
                    </table>
                    <!--[if gte mso 10]>
                    </td></tr>
                    </table>
                    <![endif]-->
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
