@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Components.TenantSwitch
@model TenantSwitchViewComponent.TenantSwitchViewModel
<li class="nav-item">
    <a id="TenantSwitchToolbarLink" href="#">
        @if (Model.Tenant == null)
        {
            <text>@@host</text>
        }
        else
        {
            <text>@@@Model.Tenant.Name</text>
        }
    </a>
</li>