@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.CmsKit.Localization
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@

@section scripts {
    <abp-script-bundle>
        <abp-script src="/client-proxies/cms-kit-admin-proxy.js" />
        <abp-script src="/client-proxies/cms-kit-common-proxy.js" />
        @* <abp-script src="" /> *@
        <script src="/Components/CommentsSetting/index.js"></script>
    </abp-script-bundle>
}
@{
    @inject IHtmlLocalizer<CmsKitResource> L

    <abp-form #form="ngForm">
        <h4>@L["CmsKitCommentOptions:Title"].Value</h4>
        <hr />
        <div class="form-group">
            <div class="form-check">
                <input type="checkbox" id="checkbox" class="form-check-input" name="checkbox" ngModel />
                <label for="checkbox" class="form-check-label">@L["CmsKitCommentOptions:RequireApprovement"].Value</label>
            </div>
            <small id="checkboxHelp" class="form-text text-muted">@L["CmsKitCommentOptions:RequireApprovementDescription"].Value</small>
        </div>

        <div style="float:right" class="text-right mt-3">
            <abp-button id="save" type="submit" class="btn btn-primary">
                @L["SaveChanges"].Value
            </abp-button>
        </div>
    </abp-form>



}

<script>
    var app = app || {};

    app.commentAdmin = (function () {
        var _service = volo.cmsKit.admin.comments.commentAdmin;

        var _init = function () {
            _getSettings();
            _bindEvents();
        };

        var _getSettings = function () {
            _service.getSettings().done(function (response) {
                var isChecked = response.requireApprovement;
                $('#checkbox').prop('checked', isChecked);
                console.log('CheckBox durumu başarıyla güncellendi:', response.requireApprovement);
            }).fail(function (error) {
                console.error('CheckBox durumu alınırken bir hata oluştu:', error);
            });
        };

        var _bindEvents = function () {
            $('#save').click(function () {
                var isChecked = $('#checkbox').prop('checked');

                _service.setSettings({ requireApprovement: isChecked }).done(function (response) {
                    console.log('CheckBox durumu başarıyla güncellendi:', response);
                    abp.notify.success('CheckBox durumu başarıyla kaydedildi.');
                }).fail(function (error) {
                    console.error('CheckBox durumu güncellenirken bir hata oluştu:', error);
                    abp.notify.error('CheckBox durumu kaydedilirken bir hata oluştu.');
                });
            });
        };

        return {
            init: _init
        };
    })();

    $(document).ready(function () {
        app.commentAdmin.init();
    });

</script>