@page
@using Volo.Blogging.Pages.Blog.Posts
@model EditModel
@{

}



<form method="post" id="edit-post-form">

    <abp-input asp-for="@Model.Post.Title" autofocus />

    <div class="form-group">
        <label>Content</label>
        <textarea rows="4" class="form-control" name="Post.Content">@Model.Post.Content</textarea>
    </div>

    <abp-input asp-for="@Model.Post.BlogId" hidden="" />
    <input name="Id" value="@Model.Post.Id" hidden="">

    <abp-button type="submit" form="edit-post-form">
        <span>Submit</span>
    </abp-button>

</form>