@page
@using Volo.Blogging.Pages.Blog.Posts
@model NewModel
@{

}

<form method="post" id="new-post-form">

    <abp-input asp-for="@Model.Post.Title" autofocus />

    <div class="form-group">
        <label>Content</label>
        <textarea rows="4" class="form-control" name="Post.Content">@Model.Post.Content</textarea>
    </div>

    <abp-input asp-for="@Model.Post.BlogId" hidden="" />

    <abp-button type="submit" form="new-post-form">
        <span>Submit</span>
    </abp-button>

</form>