@using Volo.CmsKit.Web.Pages.CmsKit.Components.Contents
@using Volo.Abp.AspNetCore.Mvc.UI.Theming

@model Volo.CmsKit.Contents.DefaultContentDto

@inject IThemeManager ThemeManager
@{
    Layout = ThemeManager.CurrentTheme.GetEmptyLayout();
}

<div class="mt-3">@await Component.InvokeAsync(typeof(ContentFragmentViewComponent), Model)</div>
         
