div.vs-blog {
    position: relative;
    background: #fff;
    font-family: Helvetica, sans-serif;
    font-size: 15px;  
    @import "bootstrap-overwrite.scss"; 
    @import "header.scss"; 
    @import "home.scss"; 
    @import "post.scss"; 
    @import "custom.scss";  
}
