@page
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.TenantManagement.Localization
@using Volo.Abp.TenantManagement.Web.Pages.TenantManagement.Tenants
@model ConnectionStringsModal
@inject IStringLocalizer<AbpTenantManagementResource> L
@{
    Layout = null;
}
<form method="post" asp-page="/TenantManagement/Tenants/ConnectionStringsModal">
    <abp-modal>
        <abp-modal-header title="@L["ConnectionStrings"]"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Tenant.Id"></abp-input>
            
            <abp-input asp-for="Tenant.UseSharedDatabase"></abp-input>

            <div id="Tenant_DefaultConnectionString_Wrap" class="@(Model.Tenant.UseSharedDatabase ? "d-none" : "")" >
                <abp-input asp-for="Tenant.DefaultConnectionString"></abp-input>
            </div>

        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>

<script>

    $("#Tenant_UseSharedDatabase").change(function() {
        $("#Tenant_DefaultConnectionString_Wrap").toggleClass("d-none");
        $(this).val($(this).prop("checked"));
    });

</script>