body {
  position: relative;
}

.container {
  max-width: 1920px !important;
  border: 1px solid;
}

a {
  text-decoration: none;
}

.docs-page .anchorjs-link {
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}
.docs-page .anchorjs-link:hover {
  text-decoration: none;
}
.docs-page *:hover > .anchorjs-link {
  margin-left: -1.125em !important;
  transition: color 0.25s linear;
  color: gray;
}
.docs-page .docs-sidebar {
  position: fixed;
  top: 4px;
  left: auto;
  border-radius: 12px;
  background: #211e1e;
}
.docs-page .docs-sidebar .input-group {
  border-radius: 5px;
  overflow: hidden;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper {
  width: 300px;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper input.form-control {
  border: 0;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper input.form-control:focus, .docs-page .docs-sidebar.docs-sidebar-wrapper input.form-control:active, .docs-page .docs-sidebar.docs-sidebar-wrapper input.form-control:hover, .docs-page .docs-sidebar.docs-sidebar-wrapper input.form-control:visited {
  box-shadow: none;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-version {
  position: relative;
  font-size: 12px;
  background-color: #474747;
  color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 7px 10px 0 10px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
  background-repeat: no-repeat !important;
  background-position: right 0.75rem center !important;
  background-size: 16px 12px !important;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-version .version-select {
  border-radius: 3px;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-version .version-select .input-group-text {
  padding: 0 0;
  font-size: 0.9rem;
  width: 15px;
  height: 34px;
  line-height: 1;
  border-radius: 0px;
  border: 0;
  background: transparent;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-version .version-select .input-group-text i {
  color: rgba(255, 255, 255, 0.3);
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-version .version-select select.form-select,
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-version .version-select input.form-control {
  padding: 0 10px 2px 10px;
  border: 0;
  min-height: 30px;
  height: 30px;
  font-size: 1.17em;
  border-radius: 0px;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-version .version-select select.form-select:focus, .docs-page .docs-sidebar.docs-sidebar-wrapper .docs-version .version-select select.form-select:active, .docs-page .docs-sidebar.docs-sidebar-wrapper .docs-version .version-select select.form-select:hover, .docs-page .docs-sidebar.docs-sidebar-wrapper .docs-version .version-select select.form-select:visited,
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-version .version-select input.form-control:focus,
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-version .version-select input.form-control:active,
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-version .version-select input.form-control:hover,
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-version .version-select input.form-control:visited {
  box-shadow: none;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-version .version-select select.form-select {
  padding: 0 0 2px 0;
  background-image: none;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-filter {
  padding: 0 1rem;
  margin: 0.5rem 0;
  font-size: 0.9em;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-filter .filter-icon i.fa {
  color: #ddd;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list {
  height: calc(100vh - 130px);
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list > ul {
  display: block;
  height: calc(100vh - 230px);
  overflow-y: auto;
  margin-right: 12px !important;
  margin-top: 20px !important;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul {
  font-size: 14px;
  list-style: none;
  padding: 0 1rem 1rem;
  margin: 0;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li {
  margin-left: 0px;
  padding-left: 24px;
  display: block;
  width: 100%;
  position: relative;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li a {
  color: #999;
  font-weight: 700;
  padding: 7px 0;
  display: block;
  border-bottom: 0;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li a:hover {
  color: #000;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li a.last-link {
  top: 11px;
  color: #aaa;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li .badge {
  text-transform: uppercase;
  font-size: 9px;
  position: relative;
  letter-spacing: 0.125px;
  top: -2px;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li span.tree-toggle {
  color: #999;
  padding: 7px 0;
  display: block;
  border-bottom: 0;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li .plus-icon {
  font-size: 0.85em;
  transition: 0.3s;
  width: 18px;
  height: 18px;
  text-align: center;
  padding: 0;
  line-height: 1;
  border-radius: 50%;
  margin-right: 4px;
  position: absolute;
  left: 2px;
  top: 11px;
  color: #aaa;
  cursor: default;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li .plus-icon .fa-long-arrow-right.no-link {
  color: #555;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li .plus-icon .fa-chevron-right {
  cursor: pointer;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li ul {
  padding: 0;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li ul li a {
  font-weight: 400;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li ul li ul {
  padding: 0;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li ul li ul li a {
  font-weight: 300;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li.selected-tree > a {
  color: #000;
  transition: 0.4s;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li.selected-tree > span .fa {
  transform: rotate(90deg);
  color: #3e9fcb;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li.selected-tree.last-link > span .fa {
  transform: rotate(0deg);
}
.docs-page .docs-sidebar .docs-top {
  padding: 0 1em;
}
.docs-page .docs-sidebar .docs-top .navbar-logo .navbar-brand {
  font-size: 1.35rem;
  color: #000;
  font-weight: 700;
  padding: 15px 0 15px;
  line-height: 1;
}
.docs-page .docs-sidebar .docs-top .navbar-logo .navbar-brand strong {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 1px;
}
.docs-page .docs-sidebar .docs-top .navbar-logo .go-back-site {
  color: #000;
  opacity: 0.65;
  transition: 0.2s;
  font-size: 0.8em;
  font-weight: 300;
}
.docs-page .docs-sidebar .docs-top .navbar-logo .go-back-site:hover {
  text-decoration: none;
  opacity: 1;
}
.docs-page .docs-sidebar .docs-top .navbar-logo .navbar-logo-desc {
  font-size: 0.85em;
}
.docs-page .docs-sidebar .docs-top .navbar-logo .navbar-logo-desc strong {
  display: block;
}
.docs-page .docs-content {
  overflow-x: scroll;
  min-height: 100vh;
}
.docs-page .docs-content .contributors {
  position: absolute;
  top: 15px;
  right: 5px;
}
.docs-page .docs-content .contributors .contributors-avatar {
  border-radius: 21px;
  width: 21px;
  height: 21px;
}
.docs-page .docs-content .contributors a {
  padding: 0;
  width: 21px;
  height: 21px;
  display: inline-block;
  margin: 0 0 0 2px;
}
.docs-page .docs-content .contributors a:hover {
  text-decoration: none;
}
.docs-page .docs-content .docs-link-btns {
  background: #f5f7fa;
  padding: 15px 30px;
  margin: 0 -15px;
  text-align: right;
  font-size: 0.8em;
  min-height: 48px;
}
.docs-page .docs-content .docs-link-btns a {
  color: #222;
}
.docs-page .docs-content .docs-link-btns a .text-muted {
  color: #ccc !important;
}
.docs-page .docs-content .docs-link-btns a:hover {
  color: #000;
  text-decoration: none;
}
.docs-page .docs-content .docs-link-btns .search-area {
  margin: -5px 0 -5px -10px;
  box-shadow: 0 0 10px #e8e8e8;
}
.docs-page .docs-content .docs-link-btns .search-area .input-group-text {
  background: white;
  border: 0;
  color: #000;
  font-size: 1em;
}
.docs-page .docs-content .docs-link-btns .search-area .form-control {
  background: #fff;
  border: 0;
  font-size: 1em;
  padding-left: 0;
  outline: 0;
  box-shadow: none;
}
.docs-page .docs-content .docs-text-field {
  padding: 2rem;
}
.docs-page .docs-content article.docs-body {
  word-break: break-word;
}
.docs-page .docs-content article.docs-body h1 {
  padding-top: 1rem;
  font-size: 2.25rem;
  padding-bottom: 10px;
}
.docs-page .docs-content article.docs-body h2 {
  padding-top: 2rem;
  padding-bottom: 10px;
  font-size: 2rem;
}
.docs-page .docs-content article.docs-body h3,
.docs-page .docs-content article.docs-body h4,
.docs-page .docs-content article.docs-body h5,
.docs-page .docs-content article.docs-body h6 {
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 1.5rem;
}
.docs-page .docs-content article.docs-body h1,
.docs-page .docs-content article.docs-body h2,
.docs-page .docs-content article.docs-body h3,
.docs-page .docs-content article.docs-body h4,
.docs-page .docs-content article.docs-body h5,
.docs-page .docs-content article.docs-body h6 {
  position: relative;
}
.docs-page .docs-content article.docs-body h1 .anchor,
.docs-page .docs-content article.docs-body h2 .anchor,
.docs-page .docs-content article.docs-body h3 .anchor,
.docs-page .docs-content article.docs-body h4 .anchor,
.docs-page .docs-content article.docs-body h5 .anchor,
.docs-page .docs-content article.docs-body h6 .anchor {
  position: absolute;
  right: -26px;
  font-size: 18px;
  bottom: 5px;
  color: #999;
  opacity: 0;
  transition: 0.5s;
}
.docs-page .docs-content article.docs-body h1:hover .anchor,
.docs-page .docs-content article.docs-body h2:hover .anchor,
.docs-page .docs-content article.docs-body h3:hover .anchor,
.docs-page .docs-content article.docs-body h4:hover .anchor,
.docs-page .docs-content article.docs-body h5:hover .anchor,
.docs-page .docs-content article.docs-body h6:hover .anchor {
  opacity: 1;
}
.docs-page .docs-content article.docs-body .blockquote {
  margin-bottom: 1rem;
  margin-left: 0;
  border-left: 3px solid #d2dbe4;
  padding: 1em 1.5em;
  background-color: #e9edf1;
  padding-bottom: 0.2em;
  font-size: 1em;
}
.docs-page .docs-content article.docs-body img {
  max-width: 100%;
  border: 1px solid #f4f5f7;
  margin: 15px 0 25px;
  box-shadow: 0 0 45px #f8f9fa;
  border-radius: 6px;
}
.docs-page .docs-content article.docs-body table {
  display: block;
  overflow: auto;
  width: 100%;
}
.docs-page .docs-content article.docs-body table thead tr {
  border-bottom: 2px inset;
}
.docs-page .docs-content article.docs-body table th {
  font-weight: 600;
}
.docs-page .docs-content article.docs-body table td,
.docs-page .docs-content article.docs-body table th {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}
.docs-page .docs-content article.docs-body table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}
.docs-page .docs-content article.docs-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
.docs-page .docs-content article.docs-body table img {
  background-color: initial;
}
.docs-page .cont-container a.cont-avatar {
  position: relative;
}
.docs-page .cont-container a.cont-avatar img {
  width: 24px;
  height: 24px;
  box-shadow: 0 0 8px #c1bbbb;
  border: 2px solid #fff;
  margin-left: -10px;
  display: inline-block;
  margin-top: -2px;
  transition: 0.2s;
}
.docs-page .cont-container:hover a.cont-avatar img {
  margin-left: -2px;
}
.docs-page .docs-page-index {
  min-height: 90vh;
  background-color: transparent !important;
}
.docs-page .docs-page-index #scroll-index {
  max-height: 90vh;
}
.docs-page .docs-page-index .docs-inner-anchors {
  position: fixed;
  top: 4px;
  font-size: 0.9em;
}
.docs-page .docs-page-index .docs-inner-anchors .navbar .nav-pills {
  font-size: 0.92em;
  margin-left: 15px;
  border-left: 1px solid #eee;
}
.docs-page .docs-page-index .docs-inner-anchors .navbar .nav-pills .nav-link {
  padding: 3px 14px 4px;
  color: #aaa;
  line-height: 1.2;
  position: relative;
  border-left: 1px solid #eee;
  border-radius: 0;
  margin-left: -1px;
  margin-top: 1px;
  margin-bottom: 1px;
  transition: 0.2s;
  font-weight: normal;
}
.docs-page .docs-page-index .docs-inner-anchors .navbar .nav-pills .nav-link.active {
  border-left: 1px solid #3e9fcb;
  background: none;
  color: #3e9fcb;
  font-weight: normal;
}
.docs-page .docs-page-index .docs-inner-anchors .navbar .nav-pills .nav-pills .nav-link.active {
  color: #3e9fcb;
}
.docs-page .docs-page-index .docs-inner-anchors .navbar .nav-pills .nav-pills .nav-pills .nav-link.active {
  color: #3e9fcb;
}
.docs-page .docs-page-index .docs-inner-anchors .index-scroll {
  margin-left: -30px;
}
.docs-page .docs-page-index .docs-inner-anchors .docs-anchors-wrapper {
  max-width: 300px;
  float: left;
}
.docs-page .docs-page-index .scroll-top-btn {
  display: none;
  font-size: 0.85em;
  color: #aaa;
  text-decoration: none;
  padding-left: 18px;
}
.docs-page .docs-page-index .scroll-top-btn.showup {
  display: block;
}
.docs-page .card {
  background-color: #fff;
  border-radius: 12px;
  border: none;
  width: 300px;
  padding: 30px;
  box-shadow: 0px 0px 19.9858px rgba(11, 15, 33, 0.05);
}
.docs-page .card .card-header {
  background-color: transparent;
  border-bottom: none;
  color: #0b1621;
  font-size: 19px;
  padding: 0;
}
.docs-page .card .card-body {
  padding: 0;
}
.docs-page .top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 5px 0;
  border-bottom: 1px solid #eaeaea;
}
.docs-page .top-container .breadcrumb {
  margin-bottom: 0;
}
.docs-page .top-container .breadcrumb .breadcrumb-item {
  color: #838690;
  font-size: 13px;
  font-weight: 500;
}
.docs-page .top-container .breadcrumb .breadcrumb-item a {
  color: #838690;
}
.docs-page .top-container .breadcrumb .breadcrumb-item.active {
  color: #c7c8c9;
  font-weight: 400;
}
.docs-page .top-container .doc-social-btns {
  color: rgba(11, 22, 33, 0.5);
}
.docs-page .top-container .doc-social-btns a:hover {
  text-decoration: none;
}
.docs-page .top-container .doc-social-btns .twitter,
.docs-page .top-container .doc-social-btns .linkedin,
.docs-page .top-container .doc-social-btns .email {
  color: rgba(11, 22, 33, 0.5);
}
.docs-page .top-container .doc-social-btns .share-button {
  margin-left: 10px;
}
.docs-page .custom-input-group {
  border: 1px solid rgba(11, 22, 33, 0.1);
  background-color: white;
  border-radius: 8px;
  padding: 7px 15px;
}
.docs-page .custom-input-group .input-group-text {
  font-size: 12px;
  padding: 0;
  background-color: transparent;
  border: none;
  color: rgba(11, 22, 33, 0.3);
}
.docs-page .custom-input-group .form-select {
  border: none;
  padding: 0;
  background-color: transparent;
  background-position: right top;
}
.docs-page .custom-input-group .form-select:focus {
  box-shadow: none !important;
}

.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-version .version-select select.form-select,
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-version .version-select input.form-control {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-version .version-select input.form-control {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-version .version-select input.form-control::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-version .version-select label {
  background: #000000;
  border-color: #000000;
  color: #ddd;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-filter .form-control {
  background: #333;
  color: #999;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-filter select {
  border: 0;
  border-radius: 6px;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-filter .filter-icon i.fa {
  color: #aaa;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li a {
  color: #aaa;
  border-bottom: 0;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li a:hover {
  color: #fff;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li a .plus-icon {
  font-size: 0.85em;
  transition: 0.3s;
  width: 18px;
  height: 18px;
  text-align: center;
  padding: 0;
  line-height: 1;
  border-radius: 50%;
  margin-right: 4px;
  position: absolute;
  left: 2px;
  top: 11px;
  color: #aaa;
  cursor: default;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li a .plus-icon .fa-long-arrow-right.no-link {
  color: #555;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li a .plus-icon .fa-chevron-right {
  cursor: pointer;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li a .plus-icon.last-link {
  top: 11px;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li span.tree-toggle {
  color: #555;
  padding: 7px 0;
  display: block;
  border-bottom: 0;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li.selected-tree > a {
  color: #fff;
  transition: 0.4s;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li.selected-tree > a span .fa {
  color: #fff;
}
.docs-page .docs-sidebar.docs-sidebar-wrapper .docs-tree-list ul li.selected-tree > a span:not(.last-link) .fa {
  transform: rotate(90deg);
  color: #fff;
}
.docs-page .docs-sidebar .docs-top .navbar-logo .navbar-brand {
  color: #fff;
  text-transform: uppercase;
  white-space: unset;
}
.docs-page .docs-sidebar .docs-top .navbar-logo .go-back-site {
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  background: #444;
  padding: 6px 0 8px;
  border-radius: 5px;
}
.docs-page .docs-sidebar .docs-top .navbar-logo .navbar-logo-desc {
  color: #ddd;
}

@media (min-width: 1100px) {
  .container {
    max-width: 1080px;
  }
}
@media (min-width: 1366px) {
  .container {
    max-width: 1340px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1400px;
  }
}
@media (max-width: 767px) {
  .docs-page .docs-content article.docs-body h1 {
    padding-top: 1.5rem;
  }

  .docs-page {
    background: #f5f7f9;
  }
  .docs-page > .container-fluid {
    display: block;
  }
  .docs-page > .container-fluid > .row {
    display: block;
  }
  .docs-page .docs-sidebar {
    position: fixed;
    max-width: 100%;
    width: 100%;
    display: block;
    padding: 0 !important;
    top: 0;
    left: 0;
    z-index: 100;
    right: 0;
  }
  .docs-page .docs-sidebar .docs-sidebar-wrapper {
    max-width: 100%;
    width: 100%;
    top: 0px;
    position: relative;
    margin: 0 !important;
    height: 72px;
  }
  .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-tree-list {
    padding: 0.5rem 1.5rem 2rem 1.5rem;
    position: fixed;
    top: 70px;
    font-size: 17px;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #1d1d1d;
    display: none;
  }
  .docs-page .docs-sidebar .docs-sidebar-wrapper .docs-tree-list .docs-filter {
    padding: 0 0 1rem !important;
  }
  .docs-page .docs-sidebar .docs-top .navbar-logo {
    padding: 0rem;
    padding-top: 0.3rem;
    display: block;
    text-align: center;
  }
  .docs-page .docs-sidebar .docs-top .navbar-logo .navbar-brand {
    font-size: 1.25rem;
    font-weight: 700;
    display: block;
    margin-right: 0em;
    padding: 10px 0 15px;
    text-transform: uppercase;
  }
  .docs-page .docs-sidebar .docs-top .navbar-logo .navbar-brand .docs-logo {
    width: 110px;
  }
  .docs-page .docs-sidebar .docs-top .navbar-logo .go-back-site {
    display: none;
  }
  .docs-page .docs-sidebar .docs-top .navbar-logo .navbar-logo-desc {
    font-size: 1em;
    display: none;
  }
  .docs-page .docs-sidebar .docs-top .open-dmenu {
    position: absolute;
    top: 10px;
    left: 20px;
  }
  .docs-page .docs-content {
    padding-top: 72px;
    max-width: 100%;
    display: block !important;
  }
  .docs-page .docs-content .docs-text-field {
    padding: 1rem 1.5rem;
  }
  .docs-page .docs-page-index {
    display: none;
  }
}
.for-mobile {
  display: none;
}

.for-desktop {
  display: inline-block;
}

pre[class*=language-] {
  padding: 1.4em 2em !important;
  margin: 15px 0 25px !important;
  border-radius: 6px;
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 82%;
  background-color: #f0f1f3;
  border-radius: 3px;
  color: #28a745;
}

pre code {
  padding: 0;
}
pre .token.keyword {
  color: #569cd6;
}
pre .token.atrule,
pre .token.attr-value,
pre .token.function,
pre .token.class-name {
  color: #d69d85;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: #191919 !important;
}

div.code-toolbar > .toolbar span {
  cursor: default;
}

div.code-toolbar > .toolbar a {
  cursor: copy;
}

.logo-nav ul {
  width: 300px !important;
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .for-mobile {
    display: inline-block;
  }

  .for-desktop {
    display: none;
  }

  .close-mmenu,
.close-dmenu {
    position: absolute;
    top: -78px;
    left: 25px;
    color: #fff;
    font-size: 68px;
    background: #fff;
    opacity: 0;
  }

  .navbar {
    padding: 0.5rem 1.75rem;
  }
  .navbar .navbar-collapse {
    background: #38003d;
    position: fixed;
    top: 86px;
    left: 0;
    width: 100%;
    height: 100vh;
    height: calc(100vh - 86px);
    z-index: 100 !important;
  }
  .navbar .navbar-collapse .navbar-nav {
    height: 100vh;
    padding: 20px 30px;
    overflow: auto;
  }
  .navbar .navbar-collapse .navbar-nav .nav-link {
    padding: 1.2rem !important;
  }
  .navbar .navbar-toggler {
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    line-height: 1;
    background-color: transparent;
    border: 0;
    border-radius: 0.25rem;
    color: #fff !important;
    margin-left: -1rem;
  }

  .section-with-logos img {
    margin: 15px;
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }

  span.code-arrow {
    padding: 0px 0 0px;
    display: block;
    transform: rotate(90deg);
    font-size: 2em;
  }

  .mb-5,
.my-5 {
    margin-bottom: 2rem !important;
  }
}
@media screen and (max-width: 767px) {
  .navbar-logo .navbar-brand {
    display: inline-block;
    margin: 0 auto !important;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.alert-criteria {
  padding: 1.25em 1.5em;
  max-width: 100%;
  color: #3e9fcb;
  background-color: #f4f6fa;
  border-color: #f4f6fa;
  border-radius: 12px;
}
.alert-criteria p.alert-p {
  font-size: 0.96em;
}
.alert-criteria .input-group .input-group-text,
.alert-criteria .input-group .form-control {
  font-size: 0.96em;
}
@media screen and (max-width: 767px) {
  .alert-criteria .input-group .input-group-text,
.alert-criteria .input-group .form-control {
    font-size: 0.88em;
  }
}
.alert-criteria .input-group .input-group-text {
  color: #004085;
  background-color: #bddcfd;
  border: 1px solid #bddcfd;
}
@media screen and (max-width: 1366px) {
  .alert-criteria .input-group .input-group-text {
    display: none;
  }
}
.alert-criteria .input-group .form-control {
  color: #004085;
  background-color: #fff;
  border: 1px solid #bddcfd;
}
@media screen and (max-width: 1366px) {
  .alert-criteria .input-group .form-control {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
}

.scrolledMore {
  padding-top: 107px;
}
.scrolledMore .alert-criteria {
  position: fixed;
  top: 0;
  z-index: 10;
  border: 0;
  border-radius: 0;
  margin-left: -47px;
  padding: 0.5em 0.75em;
}
@media screen and (max-width: 767px) {
  .scrolledMore .alert-criteria {
    top: 72px;
    margin-left: -36px;
  }
}
.scrolledMore .alert-criteria p.alert-p {
  display: none;
}

.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,
.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools {
  opacity: 1 !important;
  filter: "alpha(opacity=1)";
  -ms-filter: "alpha(opacity=1)";
}

/*# sourceMappingURL=vs.css.map */
