@model Volo.CmsKit.ViewComponents.CommentDateViewComponent

<p>Welcome Comment Date Component</p>
@if (Model.IsShow)
{
    <p> @DateTime.Today.ToLongDateString()</p>
}
else
{
    <p>Without date</p>
}