<div class="form-check mb-3">
    <input class="form-check-input" type="checkbox" id="NewOption" />
    <label class="form-check-label text-primary d-block" for="NewOption">
        Show date in the component
    </label>
</div>