@page
@using Localization.Resources.AbpUi
@using Microsoft.Extensions.Localization
@using Acme.BookStore.BookManagement.Pages
@model IndexModel
@inject IStringLocalizer<AbpUiResource> Localizer
<a href="/Account/Login">@Localizer["Login"]</a>