@page
@using Localization.Resources.AbpUi
@using Microsoft.Extensions.Localization
@model MyCompanyName.MyProjectName.DemoApp.Pages.IndexModel
@inject IStringLocalizer<AbpUiResource> Localizer
<a href="/Account/Login">@Localizer["Login"]</a>