@page
@model Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo.Pages.Components.BlockquotesModel
@{
    ViewData["Title"] = "Badges";
}

<h2>Blockquotes</h2>

<p>Based on <a href="https://getbootstrap.com/docs/4.1/components/tooltips/" target="_blank"> Bootstrap Blockquotes</a>.</p>

<h4># Blockquote Examples</h4>

<div class="demo-with-code">
    <div class="demo-area">

        <blockquote>
            <p class="mb-0">"I love deadlines. I love the whooshing noise they make as they go by."</p>
            <footer> Douglas Adams, The Salmon of Doubt </footer>
        </blockquote>

    </div>
    <div class="code-area">
        <pre>
&lt;blockquote&gt;
   &lt;p class=&quot;mb-0&quot;&gt;&quot;I love deadlines. I love the whooshing noise they make as they go by.&quot;&lt;/p&gt;
   &lt;footer&gt; Douglas Adams, The Salmon of Doubt &lt;/footer&gt;
&lt;/blockquote&gt;
</pre>
    </div>
</div>

