@page
@model Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo.Pages.Components.CardsModel
@{
    ViewData["Title"] = "Cards";
}

<h2>Cards</h2>

@*
    <div class="demo-with-code">
        <div class="demo-area">
        </div>
        <div class="code-area">
    <pre></pre>
        </div>
    </div>
*@

<p>Based on <a href="http://getbootstrap.com/docs/4.1/components/card/" target="_blank"> Bootstrap card</a>.</p>

<h4># Example</h4>

<div class="demo-with-code">
    <div class="demo-area">
        <abp-card>
            <abp-card-header>Card header</abp-card-header>
            <abp-card-body>Card body</abp-card-body>
        </abp-card>
    </div>
    <div class="code-area">
        <pre>&lt;abp-card&gt;
    &lt;abp-card-header&gt;Card header&lt;/abp-card-header&gt;
    &lt;abp-card-body&gt;Card body&lt;/abp-card-body&gt;
&lt;/abp-card&gt;</pre>
    </div>
</div>

<h4># Example</h4>

<div class="demo-with-code">
    <div class="demo-area">
        <abp-card style="width: 18rem;">
            <abp-card-body>
                <abp-card-title>Card title</abp-card-title>
                <abp-card-subtitle class="mb-2 text-muted">Card subtitle</abp-card-subtitle>
                <abp-card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</abp-card-text>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </abp-card-body>
        </abp-card>
    </div>
    <div class="code-area">
        <pre></pre>
    </div>
</div>

<h4># Example</h4>

<div class="demo-with-code">
    <div class="demo-area">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/imgs/demo/300x200.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="code-area">
<pre>
&lt;div class="card" style="width: 18rem;"&gt;
    &lt;img class="card-img-top" src=".../100px180/" alt="Card image cap"&gt;
    &lt;div class="card-body"&gt;
        &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
        &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
        &lt;a href="#" class="btn btn-primary"&gt;Go somewhere&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre>
    </div>
</div>

<hr />

<a asp-page="../">&lt; back</a>