@page
@model Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo.Pages.Components.CardsModel
@{
    ViewData["Title"] = "Cards";
}

<h2>Cards</h2>

<h4>Example - 1</h4>

<div class="demo-with-code">
    <div class="demo-area">
        <div class="card" style="width: 18rem;">

            <img class="card-img-top" src="~/imgs/demo/300x200.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="code-area">
<pre>
&lt;div class="card" style="width: 18rem;"&gt;
    &lt;img class="card-img-top" src=".../100px180/" alt="Card image cap"&gt;
    &lt;div class="card-body"&gt;
        &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
        &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
        &lt;a href="#" class="btn btn-primary"&gt;Go somewhere&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre>
    </div>
</div>

<hr />

<a asp-page="../">&lt; back</a>