@page
@model Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo.Pages.Components.FormsModel
@{
    ViewData["Title"] = "Forms";
}

<h2>Forms</h2>

<p>Based on <a href="http://getbootstrap.com/docs/4.1/components/forms/" target="_blank"> Bootstrap form</a>.</p>

<h4># Example</h4>

<div class="demo-with-code">
    <div class="demo-area">
        <abp-form-group>
            <input type="text" class="form-control">
        </abp-form-group>
        <abp-form-group checkbox="true">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </abp-form-group>
    </div>
    <div class="code-area">
        <pre>       
        &lt;abp-form-group&gt;
            &lt;input type=&quot;text&quot; class=&quot;form-control&quot;&gt;
        &lt;/abp-form-group&gt;
        &lt;abp-form-group checkbox=&quot;true&quot;&gt;
            &lt;input type=&quot;checkbox&quot; class=&quot;form-check-input&quot; id=&quot;exampleCheck1&quot;&gt;
            &lt;label class=&quot;form-check-label&quot; for=&quot;exampleCheck1&quot;&gt;Check me out&lt;/label&gt;
        &lt;/abp-form-group&gt;
        </pre>
    </div>
</div>

