@page
@model Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo.Pages.Components.FormsModel
@{
    ViewData["Title"] = "Forms";
}

<h2>Forms</h2>

<p>Based on <a href="http://getbootstrap.com/docs/4.1/components/forms/" target="_blank"> Bootstrap form</a>.</p>

<h4># Example</h4>

<div class="demo-with-code">
    <div class="demo-area">

    </div>
    <div class="code-area">
        <pre>

        </pre>
    </div>
</div>

