@page
@model Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo.Pages.Components.NavsModel
@{
    ViewData["Title"] = "Navs";
}

<h2>Navs</h2>

<p>Based on <a href="https://getbootstrap.com/docs/4.1/components/navs/" target="_blank"> Bootstrap Navs</a>.</p>

<h4># Navs Examples</h4>

<div class="demo-with-code">
    <div class="demo-area">

        <abp-nav nav-style="Pill" align="Center">
            <abp-nav-item>
                <a abp-nav-link Active="true" href="#">Active</a>
            </abp-nav-item>
            <abp-nav-item >
                <a abp-nav-link  href="#">Longer nav link</a>
            </abp-nav-item>
            <abp-nav-item >
                <a abp-nav-link  href="#">link</a>
            </abp-nav-item>
            <abp-nav-item >
                <a abp-nav-link disabled="true" href="#">disabled</a>
            </abp-nav-item>
        </abp-nav>

    </div>
    <div class="code-area">
        <pre>
        &lt;abp-nav nav-style=&quot;Pill&quot; align=&quot;Center&quot;&gt;
            &lt;abp-nav-item&gt;
                &lt;a abp-nav-link Active=&quot;true&quot; href=&quot;#&quot;&gt;Active&lt;/a&gt;
            &lt;/abp-nav-item&gt;
            &lt;abp-nav-item &gt;
                &lt;a abp-nav-link  href=&quot;#&quot;&gt;Longer nav link&lt;/a&gt;
            &lt;/abp-nav-item&gt;
            &lt;abp-nav-item &gt;
                &lt;a abp-nav-link  href=&quot;#&quot;&gt;link&lt;/a&gt;
            &lt;/abp-nav-item&gt;
            &lt;abp-nav-item &gt;
                &lt;a abp-nav-link disabled=&quot;true&quot; href=&quot;#&quot;&gt;disabled&lt;/a&gt;
            &lt;/abp-nav-item&gt;
        &lt;/abp-nav&gt;
</pre>
    </div>
</div>
