@page
@model Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo.Pages.Components.PaginatorModel
@{
    ViewData["Title"] = "Paginator";
}

<h2>Paginator</h2>

<h4># Paginator Examples</h4>

<div class="demo-with-code">
    <div class="demo-area">

        <abp-paginator model="@Model.PagerModel" show-info="true"></abp-paginator>

    </div>
    <div class="code-area">
        <pre>

</pre>
    </div>
</div>
