@page
@model Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.Demo.Pages.Components.TabsModel
@{
    ViewData["Title"] = "Tabs";
}

<h2>Tabs</h2>

<p>Based on <a href="http://getbootstrap.com/docs/4.1/components/navs/#tabs" target="_blank"> Bootstrap tab</a>.</p>

<h4># Example</h4>

<div class="demo-with-code">
    <div class="demo-area">
        

        <abp-tabs name="TabId" tab-style="PillVertical" vertical-header-size="_1">

            <abp-tab-item name="nav-home" active="true" title="Home">
                ..asdasd.
            </abp-tab-item>   
            <abp-tab-item name="nav-profile" title="profile">
                ..wqewda.
            </abp-tab-item>
            <abp-tab-item name="nav-contact" title="Contact">
                ..dsadwa.
            </abp-tab-item>

        </abp-tabs>


    </div>
    <div class="code-area">
        
        <pre>
    
</pre>
    </div>
</div>


@*<h4># Example</h4>

<div class="demo-with-code">
    <div class="demo-area">
            <div>
                <nav>
                    <div class="nav nav-pills" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
                    </div>
                </nav>
            </div>
            <div>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">..asdasd.</div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">.wqewda..</div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">..dsadwa.</div>
                </div>
            </div>
        </div>
    <div class="code-area">
        <pre>
    
</pre>
    </div>
</div>*@
