@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.Identity.Localization
@model Volo.Abp.Identity.Web.Pages.Identity.Roles.CreateModalModel
@inject IHtmlLocalizer<IdentityResource> L
@{
    Layout = null;
}
<form asp-page="/Identity/Roles/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["NewRole"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Role.Name" />
            <abp-input asp-for="Role.IsDefault" />
            <abp-input asp-for="Role.IsPublic" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
