@page

@model Volo.Abp.VirtualFileExplorer.DemoApp.Pages.IndexModel

<div class="jumbotron text-center">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <p>Virtual file explprer demo application</p>
            <hr class="my-4"/>
        </div>
    </div>
    <a href="https://abp.io?ref=tmpl" target="_blank" class="btn btn-primary px-4">abp.io</a>

</div>
