@model Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Demo.Views.Components.Themes.Shared.Demos.ButtonsDemo.DemoViewModel
<div class="abp-theme-demo-section">
    <h2>
        Basic Buttons
    </h2>
    <div class="abp-theme-demo-section-body">
        <!-- <DemoSection:Buttons.Basic> -->
        <abp-button button-type="Primary" text="Primary button" />
        <abp-button button-type="Secondary" text="Secondary button" />
        <!-- </DemoSection:Buttons.Basic> -->
    </div>
    <div>
<pre>
@Model.SourceCodes["Buttons.Basic"]
</pre>
    </div>
</div>