@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Demo.Views.Components.Themes.Shared.Demos.ButtonsDemo
<h2>
    Basic Buttons
</h2>
<abp-demo-section name="Buttons.Basic" view-path="@ButtonsDemoViewComponent.ViewPath">
    <abp-button button-type="Primary" text="Primary button" />
    <abp-button button-type="Secondary" text="Secondary button" />
</abp-demo-section>