<div class="d-flex justify-content-center">
    <div class="radar-spinner">
        <div class="circle">
            <div class="circle-inner-container">
                <div class="circle-inner"></div>
            </div>
        </div>

        <div class="circle">
            <div class="circle-inner-container">
                <div class="circle-inner"></div>
            </div>
        </div>

        <div class="circle">
            <div class="circle-inner-container">
                <div class="circle-inner"></div>
            </div>
        </div>

        <div class="circle">
            <div class="circle-inner-container">
                <div class="circle-inner"></div>
            </div>
        </div>
    </div>
</div>