@using Volo.Abp.Ui.Navigation
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ABP Web Application</title>

    <vc:abp-style-bundle name="GlobalStyles"></vc:abp-style-bundle>
    
    <link rel="stylesheet" type="text/css" href="~/Views/Shared/_AppLayout.css"/>

    @RenderSection("styles", false)
</head>
<body>

    <!-- We should pass all optional parapeters because of a bug in MVC -->
    <vc:abp-menu menu-name="@StandardMenus.Main" view-name="Default"></vc:abp-menu>

    <div class="container">
        @RenderBody()
    </div>

    <vc:abp-script-bundle name="GlobalScripts"></vc:abp-script-bundle>
    
    @RenderSection("scripts", false)

</body>
</html>