@using Volo.Abp.UI.Navigation
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ABP Web Application</title>

    <!-- Add Material font (Roboto) and Material icon as needed -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <vc:abp-style-bundle name="GlobalStyles"></vc:abp-style-bundle>

    <link rel="stylesheet" type="text/css" href="~/views/shared/_AppLayout.css" />

    @RenderSection("styles", false)
</head>
<body>

    <!-- We should pass all optional parapeters because of a bug in MVC -->
    <vc:abp-menu menu-name="@StandardMenus.Main" view-name="Default"></vc:abp-menu>

    <div class="container-fluid">
        @RenderBody()
    </div>

    <vc:abp-script-bundle name="GlobalScripts"></vc:abp-script-bundle>

    <script type="text/javascript" src="~/Abp/ApplicationConfigurationScript"></script>
    <script type="text/javascript" src="~/Abp/ServiceProxyScript"></script>

    @RenderSection("scripts", false)

</body>
</html>