@using Volo.Abp.Ui.Branding
@inject IBrandingProvider BrandingProvider
<a class="navbar-brand" href="">
    @if (!BrandingProvider.LogoUrl.IsNullOrWhiteSpace())
    {
        <img src="@BrandingProvider.LogoUrl" alt="@BrandingProvider.AppName" >
    }
    @BrandingProvider.AppName
</a>
