@page
@using Microsoft.Extensions.Localization
@using Volo.CmsKit.Localization
@model Volo.CmsKit.Web.Pages.CmsKit.IndexModel
@inject IStringLocalizer<CmsKitResource> L
@{
}
<h1>CmsKit</h1>
<p>@L["SamplePageMessage"]</p>
