@page
@model Volo.Abp.Account.Web.Pages.Account.LoginModel
<div class="row">
    <div class="col-md-3">
        <form method="post">
            <div class="form-group">
                <label for="UsernameOrEmailAddress">Username or email address</label>
                <input type="text" class="form-control" id="UsernameOrEmailAddress" name="UsernameOrEmailAddress">
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="Password" name="Password">
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" name="RememberMe" value="true" checked="checked">
                    Remember me
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        
        <div>
            <a href="@Url.Page("./Register", new { returnUrl = Model.ReturnUrl, returnUrlHash = Model.ReturnUrlHash })">Register</a>
        </div>
    </div>
</div>