.code-toolbar {
    .line-highlight {
        margin-top: 1.5em !important;
        background: rgba(233, 237, 241, 0.34) !important;
        padding: 1px !important;
    }
}

.input-group{
    .input-group-text{
        background-color: transparent!important;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;

    .next-link, .prev-link {
        display: inline-block;
        max-width: 48%;

        .desc {
            font-size: 16px;
            color: #0D6EFD;
            display: block;
        }

        .title {
            font-weight: 600;
            font-size: 18px;
            color: #0B1621;
        }
    }

    .next-link {
        margin-left: auto;
        text-align: right;
    }
}
