@page
@inject IOptions<DashboardOptions> OptionsDashboadOptions
@inject IStringLocalizerFactory localizer
@using Microsoft.Extensions.Options
@using Volo.Abp.AspNetCore.Mvc.UI.Dashboards
@using DashboardDemo.Pages
@using DashboardDemo.Pages.widgets
@using DashboardDemo.Widgets
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Widgets
@inherits DashboardDemoPageBase
@inject IWidgetRenderer WidgetRenderer
@model IndexModel
@section styles {
    <link href="~/pages/index.css" rel="stylesheet" />
    <abp-style-bundle name="@UserCountWidgetViewComponent.Name" />
}
@section scripts {
    <abp-script-bundle name="@UserCountWidgetViewComponent.Name" />
}
<abp-card>
    <abp-card-header>@L["Welcome"]</abp-card-header>
    <abp-card-body>
        @await WidgetRenderer.RenderAsync(Component, UserCountWidgetViewComponent.Name)
    </abp-card-body>
</abp-card>
@foreach (var dashboard in OptionsDashboadOptions.Value.Dashboards)
{
    <a href="/@dashboard.Name">Go to @dashboard.DisplayName.Localize(localizer)</a>
}
