@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Toolbars
@model Toolbar
@foreach (var toolbarItem in Model.Items.OrderBy(i => i.Order))
{
    <li class="nav-item">@(await Component.InvokeAsync(toolbarItem.ComponentType))</li>
}