div.vs-blog {
    position: relative;
    background: white;
    padding: 0 30px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;  
    @import "bootstrap-overwrite.scss"; 
    @import "header.scss";  
    @import "home.scss";        
    @import "post.scss";  
    @import "custom.scss";             
}  
                        