@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.CmsKit.Localization
@using Volo.CmsKit.Public.Web.Pages.CmsKit.Shared.Components.Contents
@model ContentViewComponent.ContentViewModel

<div>
    @Html.Raw(Model.Rendered)
</div>
