@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Demo.Views.Components.Themes.Shared.Demos.BordersDemo

<abp-component-demo-section title="Additive" view-path="@BordersDemoViewComponent.ViewPath">
    <span abp-border="Default"></span>
    <span abp-border="Top"></span>
    <span abp-border="Right"></span>
    <span abp-border="Bottom"></span>
    <span abp-border="Left"></span>
</abp-component-demo-section>

<abp-component-demo-section title="Subtractive" view-path="@BordersDemoViewComponent.ViewPath">
    <span class="border" abp-border="_0"></span>
    <span class="border"  abp-border="Top_0"></span>
    <span class="border"  abp-border="Right_0"></span>
    <span  class="border" abp-border="Bottom_0"></span>
    <span class="border" abp-border="Left_0"></span>
</abp-component-demo-section>

<abp-component-demo-section title="Border color" view-path="@BordersDemoViewComponent.ViewPath">
    <span abp-border="Primary"></span>
    <span abp-border="Secondary"></span>
    <span abp-border="Success"></span>
    <span abp-border="Danger"></span>
    <span abp-border="Info"></span>
    <span abp-border="Light"></span>
    <span abp-border="Dark"></span>
    <span abp-border="White"></span>
    <br />
    <span abp-border="Left_Primary"></span>
    <span abp-border="Top_Secondary"></span>
    <span abp-border="Right_Success"></span>
    <span abp-border="Bottom_Danger"></span>
    <span abp-border="Bottom_Warning"></span>
    <span abp-border="Left_Info"></span>
    <span abp-border="Top_Light"></span>
    <span abp-border="Right_Dark"></span>
</abp-component-demo-section>

<abp-component-demo-section title="Border-radius" view-path="@BordersDemoViewComponent.ViewPath">
    <span abp-border="Primary" abp-rounded="Default"></span>
    <span abp-border="Primary" abp-rounded="_0"></span>
    <span abp-border="Primary" abp-rounded="Top"></span>
    <span abp-border="Primary" abp-rounded="Left"></span>
    <span abp-border="Primary" abp-rounded="Bottom"></span>
    <span abp-border="Primary" abp-rounded="Right"></span>
</abp-component-demo-section>
