@page
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Demo.Views.Components.Themes.Shared.Demos.DynamicFormsDemo
@model Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Demo.Pages.Components.DynamicForms.IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = "DynamicForms";
}
<h2>Dynamic Forms</h2>

@await Component.InvokeAsync(typeof(DynamicFormsDemoViewComponent))