@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.App
@inject IViewLocalizer Localizer
@model Volo.Abp.AspNetCore.App.LocalizationTestController.PersonModel
<form>
    <label asp-for="BirthDate"></label>
    <input asp-for="BirthDate" />

    <label asp-for="BirthDate1"></label>
    <input asp-for="BirthDate1" />

    <label asp-for="BirthDate2"></label>
    <input asp-for="BirthDate2" />

    <label asp-for="BirthDate3"></label>
    <input asp-for="BirthDate3" />
</form>
