@inherits Volo.Abp.AspNetCore.Components.AbpComponentBase

@if (Settings != null && Settings.HasManageHostFeaturesPermission)
{
    <Form>
        <Button Size="Size.Small" Color="Color.Primary" onclick="@OnManageHostFeaturesClicked">
            <Icon Name="@("fa-cog")"/> @L["ManageHostFeatures"]
        </Button>
    </Form>
    
    <FeatureManagementModal @ref="FeatureManagementModal"/>
}