@page
@model VoloDocs.Pages.ErrorModel
@{
    <div class="text-center">
        <pre>
            @Model.ErrorMessage
        </pre>
        
        <a href="/" class="btn btn-outline-primary">Home Page</a>
    </div>
}
