div.vs-blog {
    position: relative;
    background: white;
    padding: 10px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 15px;   
    @import "bootstrap-overwrite.scss"; 
    @import "header.scss";  
    @import "home.scss";        
    @import "post.scss";  
    @import "custom.scss";     
    & >.form-group {
        margin: 0 !important;
    }
}  
                        
