div.vs-blog {
  position: relative;
  background: white;
  padding: 10px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 15px; }
  div.vs-blog .post-content {
    color: #555; }
    div.vs-blog .post-content a {
      text-decoration: underline !important;
      color: #555; }
    div.vs-blog .post-content a:hover {
      text-decoration: underline !important;
      color: #000000; }
  div.vs-blog p {
    color: #444; }
    div.vs-blog p a {
      text-decoration: underline; }
  div.vs-blog h1, div.vs-blog h2, div.vs-blog h3, div.vs-blog h4, div.vs-blog h5, div.vs-blog h6, div.vs-blog .tab-title {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700; }
  div.vs-blog h1 {
    font-size: 2em;
    margin: 1rem 0 1.5rem;
    line-height: 1.25; }
  div.vs-blog h2, div.vs-blog .tab-title {
    font-size: 1.5em;
    margin: 1.5rem 0 .75rem; }
  div.vs-blog h3 {
    font-size: 1.25em;
    margin: 1.5rem 0 .75rem; }
  div.vs-blog h4 {
    font-size: 1.125em;
    margin: 1.5rem 0 .75rem; }
  div.vs-blog h5 {
    font-size: 1em; }
  div.vs-blog h6 {
    font-size: 1em; }
  div.vs-blog .lead {
    font-size: 1.1rem;
    font-weight: 300; }
  div.vs-blog img {
    max-width: 100%; }
  div.vs-blog input, div.vs-blog select, div.vs-blog textarea, div.vs-blog .form-control, div.vs-blog .btn {
    border-radius: 0;
    border-width: 1px 1px 2px 1px; }
  div.vs-blog .navbar-toggler {
    background: aqua; }
  div.vs-blog .no-border {
    border: 0; }
  div.vs-blog .btn-rounded {
    border-radius: 30px; }
  div.vs-blog .list-group .list-group-item {
    position: relative;
    display: block;
    padding: 30px 0 30px;
    background: none;
    border-radius: 0;
    border: 0; }
    div.vs-blog .list-group .list-group-item:hover {
      background: none; }
    div.vs-blog .list-group .list-group-item + .list-group-item {
      border-top: 1px solid #f5f5f5;
      padding: 35px 0 30px; }
    div.vs-blog .list-group .list-group-item h3 {
      margin-top: 0; }
  div.vs-blog .list-group.small-list .list-group-item {
    padding: 10px 0; }
    div.vs-blog .list-group.small-list .list-group-item + .list-group-item {
      padding: 10px 0; }
  div.vs-blog .font-75 {
    font-size: .75em; }
  div.vs-blog .font-85 {
    font-size: .85em; }
  div.vs-blog .font-92 {
    font-size: .92em; }
  div.vs-blog .font-100 {
    font-size: 1em; }
  div.vs-blog .font-125 {
    font-size: 1.125em; }
  div.vs-blog pre {
    background: #131323;
    padding: 25px 30px;
    margin: 1em 0 2em 0; }
  div.vs-blog .vs-blog-title {
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ddd; }
    div.vs-blog .vs-blog-title h1, div.vs-blog .vs-blog-title h2, div.vs-blog .vs-blog-title h3, div.vs-blog .vs-blog-title h4, div.vs-blog .vs-blog-title h5, div.vs-blog .vs-blog-title h6 {
      margin: 0;
      padding: 0; }
  div.vs-blog .vs-footer {
    padding-top: 15px;
    margin-top: 25px;
    border-top: 1px solid #ddd; }
  div.vs-blog .vs-seperator {
    padding: 0 4px;
    opacity: .3; }
  div.vs-blog .hero-section {
    padding: 0; }
    div.vs-blog .hero-section .hero-articles {
      position: relative;
      overflow: hidden; }
      div.vs-blog .hero-section .hero-articles .hero-content h1 {
        margin-top: 2em;
        font-size: 2em;
        font-weight: bold;
        line-height: 1.25; }
        div.vs-blog .hero-section .hero-articles .hero-content h1 a {
          color: #000;
          font-weight: 700; }
          div.vs-blog .hero-section .hero-articles .hero-content h1 a:hover {
            text-decoration: none; }
      div.vs-blog .hero-section .hero-articles .hero-content h2 {
        margin-top: .5rem;
        font-size: 1.75em;
        font-weight: bold;
        line-height: 1.25; }
        div.vs-blog .hero-section .hero-articles .hero-content h2 a {
          color: #000; }
          div.vs-blog .hero-section .hero-articles .hero-content h2 a:hover {
            text-decoration: none; }
      div.vs-blog .hero-section .hero-articles .tags .tag {
        background: rgba(208, 208, 208, 0.3);
        color: #fff !important; }
        div.vs-blog .hero-section .hero-articles .tags .tag:hover {
          background: white;
          color: black !important; }
      div.vs-blog .hero-section .hero-articles .article-owner .article-infos {
        color: black; }
        div.vs-blog .hero-section .hero-articles .article-owner .article-infos .seperator {
          margin: 0 4px;
          color: rgba(255, 255, 255, 0.2); }
        div.vs-blog .hero-section .hero-articles .article-owner .article-infos img.article-avatar {
          display: inline-block;
          border-radius: 50%; }
      div.vs-blog .hero-section .hero-articles .img-container img {
        width: 100%; }
      div.vs-blog .hero-section .hero-articles:hover .img-container::after {
        opacity: 1; }
  div.vs-blog .article-owner .article-infos {
    color: #000; }
    div.vs-blog .article-owner .article-infos a {
      color: rgba(0, 0, 0, 0.6); }
    div.vs-blog .article-owner .article-infos .seperator {
      margin: 0 4px;
      color: rgba(0, 0, 0, 0.2); }
    div.vs-blog .article-owner .article-infos img.article-avatar {
      width: 48px;
      margin: -1px 4px 0 0;
      display: inline-block;
      border-radius: 50%; }
  div.vs-blog .user-card h5 span {
    font-weight: 300;
    opacity: .5;
    padding: 0 5px; }
  div.vs-blog .card-articles .card-content {
    padding: 10px 0px 10px; }
    div.vs-blog .card-articles .card-content h3 {
      margin: 10px 0; }
      div.vs-blog .card-articles .card-content h3 a {
        font-weight: 700; }
  div.vs-blog .card-articles .article-owner {
    text-align: left; }
    div.vs-blog .card-articles .article-owner .article-infos {
      color: #000; }
      div.vs-blog .card-articles .article-owner .article-infos a {
        color: rgba(0, 0, 0, 0.6); }
      div.vs-blog .card-articles .article-owner .article-infos .seperator {
        margin: 0 4px;
        color: rgba(0, 0, 0, 0.2); }
      div.vs-blog .card-articles .article-owner .article-infos img.article-avatar {
        width: 30px;
        margin: -1px 4px 0 0;
        display: inline-block;
        border-radius: 50%; }
  div.vs-blog .article-owner {
    font-size: .72em; }
  div.vs-blog .user-link-icons {
    position: absolute;
    right: 18px;
    top: 15px;
    z-index: 3; }
    div.vs-blog .user-link-icons a {
      display: inline-block;
      color: #eee;
      margin-left: 12px;
      font-size: 1.25em; }
      div.vs-blog .user-link-icons a:hover {
        color: #fff; }
  div.vs-blog .tags {
    margin: 2rem 0;
    padding: 0 0 1.25rem 0; }
    div.vs-blog .tags .tag {
      display: inline-block;
      padding: 4px 12px;
      background: rgba(208, 208, 208, 0.3);
      border-radius: 4px;
      margin: 0 2px 3px 0;
      color: #b1b1b1 !important;
      font-size: .85em;
      line-height: 1.6em;
      text-transform: uppercase;
      transition: .25s;
      text-decoration: none; }
      div.vs-blog .tags .tag:hover {
        background: black;
        color: white !important; }
  div.vs-blog .hero-section .tags {
    margin: 1rem 0;
    padding: 0 0 .5rem 0; }
  div.vs-blog .list-group-item .tags {
    margin: 1rem 0 0;
    padding: 0 0; }
  div.vs-blog .popular-tags a {
    display: block;
    font-size: .9em; }
    div.vs-blog .popular-tags a span {
      float: right;
      opacity: .3;
      font-size: .9em; }
  div.vs-blog .img-container {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    background: gainsboro; }
  div.vs-blog .post-detail h1 {
    padding: 0px 0;
    line-height: 1.25em;
    font-size: 3.5em; }
  div.vs-blog .post-detail .article-owner {
    text-align: center;
    position: relative;
    z-index: 12; }
    div.vs-blog .post-detail .article-owner .article-infos {
      color: #000; }
      div.vs-blog .post-detail .article-owner .article-infos a {
        color: black;
        color: rgba(0, 0, 0, 0.8); }
      div.vs-blog .post-detail .article-owner .article-infos .seperator {
        margin: 0 4px;
        color: rgba(0, 0, 0, 0.2); }
      div.vs-blog .post-detail .article-owner .article-infos img.article-avatar {
        width: 64px;
        margin: -20px 10px 0px 0;
        display: inline-block;
        border-radius: 50%;
        border: 3px solid #fff; }
  div.vs-blog .post-detail .post-content {
    font-size: 1.125em; }
    div.vs-blog .post-detail .post-content .post-img-container {
      margin: 50px -80px  20px;
      overflow: hidden;
      border-radius: 4px; }
    div.vs-blog .post-detail .post-content .lead {
      font-size: 1.125em;
      color: #111; }
  div.vs-blog .media {
    font-size: .95em; }
    div.vs-blog .media .media {
      font-size: .95em; }
  div.vs-blog .read-more-btn {
    display: inline-block;
    font-size: .9em;
    margin: 0 0 1em 0;
    background: #eee;
    color: blue;
    padding: .25em 1em;
    border-radius: 20px; }
  div.vs-blog .comment-area {
    background: #f5f5f5;
    margin: 1.5rem 0;
    padding: 10px; }
    div.vs-blog .comment-area .comment-owner {
      margin-bottom: 4px;
      margin-top: 8px; }
      div.vs-blog .comment-area .comment-owner span {
        font-weight: 300;
        opacity: .5;
        padding: 0 5px; }
    div.vs-blog .comment-area .media {
      background: #fff;
      margin: 1px;
      border-radius: 4px; }
    div.vs-blog .comment-area > .media {
      padding: 30px;
      border-bottom: 1px solid #f1f1f1; }
      div.vs-blog .comment-area > .media .media {
        padding: 20px 0px 0px; }
    div.vs-blog .comment-area .comment-buttons {
      padding: 4px 0;
      font-size: .96em; }
      div.vs-blog .comment-area .comment-buttons .seperator {
        color: #ddd;
        margin: 0 8px; }
      div.vs-blog .comment-area .comment-buttons .count {
        color: #fff;
        background: #ddd;
        margin-left: 5px;
        padding: 1px 3px;
        font-size: 10px;
        border-radius: 3px; }
        div.vs-blog .comment-area .comment-buttons .count.count-up {
          background: #999; }
      div.vs-blog .comment-area .comment-buttons a {
        opacity: .65;
        margin-right: 10px; }
        div.vs-blog .comment-area .comment-buttons a:hover {
          opacity: 1; }
    div.vs-blog .comment-area p {
      margin-bottom: 6px; }
    div.vs-blog .comment-area .comment-avatar {
      width: 64px; }
    div.vs-blog .comment-area .answer-avatar {
      width: 64px; }
  div.vs-blog .box-articles h3 a {
    color: #000;
    font-weight: 700; }
    div.vs-blog .box-articles h3 a:hover {
      text-decoration: none; }
  div.vs-blog > .form-group {
    margin: 0 !important; }
