@using System.Globalization
@using Volo.CmsKit.Admin.Web.Pages.CmsKit.Contents.Components.ContentEditor

@model ContentEditorViewComponent.ContentEditorViewModel

<div class="content-editor" id="@Model.InputId-container" data-input-id="@Model.InputId" data-language="@(CultureInfo.CurrentUICulture.TwoLetterISOLanguageName)">
</div>
