@page "/"
@namespace MyCompanyName.MyProjectName.Blazor.Server.Pages
@using Volo.Abp.AspNetCore.Components.Web.BasicTheme.Themes.Basic
@using Volo.Abp.AspNetCore.Components.Server.Theming.Bundling
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyCompanyName.MyProjectName.Blazor.Server</title>
    <base href="~/" />
    
    <abp-style-bundle name="@BlazorStandardBundles.Styles.Global" />
</head>
<body>
    <component type="typeof(App)" render-mode="Server" />

    <abp-script-bundle name="@BlazorStandardBundles.Scripts.Global" />
</body>
</html>
