@page
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Demo.Views.Components.Themes.Shared.Demos.FormElementsDemo
@model Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Demo.Pages.Components.FormElements.IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = "Form Elements";
}
<h2>Form Elements</h2>

@await Component.InvokeAsync(typeof(FormElementsDemoViewComponent))