version: '3.4'

services:
  volo-docs-migrator:
    image: 'volosoft/volo-docs-migrator:${TAG:-latest}'
    build:
      context: ../../
      dockerfile: modules/docs/app/VoloDocs.Migrator/Dockerfile
    environment:
      - ConnectionString=Server=sqlserver;Database=VoloDocs;Trusted_Connection=True;User=sa;Password=yourStrong(!)Password;Integrated Security=false
    depends_on:
      - sqlserver
