@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Bundling
@{
    Layout = null;
    var title = "ABP Bootstrap Demo";
    if (ViewData["Title"] != null)
    {
        title += " | " + ViewData["Title"];
    }
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@title</title>

    <abp-style-bundle name="@StandardBundles.Styles.Global" />
    <link href="~/css/demo.min.css" rel="stylesheet" />

    @await RenderSectionAsync("styles", false)
</head>
<body>

    <div class="container-fluid">
        @RenderBody()
    </div>

    <abp-script-bundle name="@StandardBundles.Scripts.Global" />

    @await RenderSectionAsync("scripts", false)

</body>
</html>