@page
@inject IHtmlLocalizer<AccountResource> L
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@model Volo.Abp.Account.Web.Pages.Account.ForgotPasswordModel
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["ForgotPassword"].Value;
}
<div class="account-module-form">
    <form method="post">
        <p>@L["SendPasswordResetLink_Information"]</p>
        <input asp-for="ReturnUrl"/>
        <input asp-for="ReturnUrlHash"/>
        <abp-input asp-for="Email"/>
        <abp-button button-type="Primary" size="Block" type="submit" class="mt-2 mb-3">@L["Submit"]</abp-button>
        <a asp-page="./Login" asp-all-route-data="@(new Dictionary<string, string>{ {"returnUrl",Model.ReturnUrl}, {"returnUrlHash",Model.ReturnUrlHash} })">
            <i class="fa fa-long-arrow-left"></i> @L["Login"]
        </a>
    </form>
</div>
