@page
@model Volo.Abp.Account.Web.Pages.Account.PasswordResetLinkSentModel
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@inject IHtmlLocalizer<AccountResource> L
@{
    PageLayout.Content.Title = L["ForgotPassword"].Value;
}
<p>@L["PasswordResetMailSentMessage"]</p>
<div class="mt-4">
    <a abp-button="Primary" asp-page="./Login" asp-all-route-data="@(new Dictionary<string, string>{ {"returnUrl",Model.ReturnUrl}, {"returnUrlHash",Model.ReturnUrlHash} })">&larr; @L["BackToLogin"]</a>
</div>
