@page
@inject IHtmlLocalizer<AccountResource> L
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@model Volo.Abp.Account.Web.Pages.Account.ResetPasswordModel
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout
<div class="card mt-3 shadow-sm rounded">
    <div class="card-body p-5">
        <h4>@L["ResetPassword"]</h4>
        <form method="post">
            <p>@L["ResetPassword_Information"]</p>
            <abp-input asp-for="UserId"/>
            <abp-input asp-for="ResetToken"/>
            <abp-input asp-for="Password"/>
            <abp-input asp-for="ConfirmPassword"/>
            <a abp-button="Secondary" asp-page="./Login">@L["Cancel"]</a>
            <abp-button type="submit" button-type="Primary" text="@L["Submit"].Value"/>
        </form>
    </div>
</div>
