@page
@model Volo.Abp.Account.Web.Pages.Account.ResetPasswordConfirmationModel
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@inject IHtmlLocalizer<AccountResource> L
@{
    PageLayout.Content.Title = L["ResetPassword"].Value;
}
<p>@L["YourPasswordIsSuccessfullyReset"]</p>
<a abp-button="Primary" href="@Url.Content(Model.ReturnUrl)">@L["GoToTheApplication"]</a>
