@page
@model Volo.Abp.Account.Web.Pages.Account.ResetPasswordConfirmationModel
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@inject IHtmlLocalizer<AccountResource> L
<div class="card mt-3 shadow-sm rounded">
    <div class="card-body p-5">
        <h4>@L["ResetPassword"]</h4>
        <p>@L["YourPasswordIsSuccessfullyReset"]</p>
        <a abp-button="Primary" href="@Url.Content(Model.ReturnUrl)">@L["GoToTheApplication"]</a>
    </div>
</div>
