@page
@inherits DashboardDemo.Web.Pages.DashboardDemoPage
@using Volo.Abp.AspNetCore.Mvc.UI.Widgets
@model DashboardDemo.Web.Pages.IndexModel
@section styles {
    <abp-style-bundle>
        <abp-style src="/Pages/Index.css" />
    </abp-style-bundle>
}
@section scripts {
    <abp-script-bundle>
        <abp-script src="/Pages/Index.js" />
    </abp-script-bundle>
}
<abp-card>
    <abp-card-header>@L["Welcome"]</abp-card-header>
    <abp-card-body>
        <h2>Demo Pages</h2>
        <ul>
            <li><a asp-page="./MyWidgets">Widgets Demo</a></li>
            <li><a asp-page="./MyDashboard">Dashboard Demo</a></li>
        </ul>
        <hr />
        @if (!CurrentUser.IsAuthenticated)
        {
            <p><a abp-button="Primary" href="/Account/Login"><i class="fa fa-sign-in"></i> @L["Login"]</a></p>
        }
        <hr />
        <p class="text-right"><a href="https://abp.io?ref=tmpl" target="_blank">abp.io</a></p>
    </abp-card-body>
</abp-card>