@page
@model DashboardDemo.Web.Pages.MyDashboardModel

@section scripts {
    <abp-script src="/Pages/MyDashboard.js" />
    <abp-script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"/>
    <abp-script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"/>
}

@section styles {
    <abp-style src="/Pages/MyDashboard.css" />
    <abp-style src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
}

<form method="get" id="MyDashboardFilterForm">
    <abp-row class="mb-3">
        <abp-column size-md="_4" offset="_8">
            <div class="form-group">
                <input class="form-control" type="text" id="DateRangePickerGlobalFilter" 
                       value="@DateTime.Now.AddDays(-7).ToString("MM-dd-yyyy") - @DateTime.Now.ToString("MM-dd-yyyy")"/>
            </div>
        </abp-column>
    </abp-row>
</form>

<div id="MyDashboardWidgetsArea">
    <abp-row>
        <abp-column>
            @await Component.InvokeAsync("CountersWidget", new
            {
                startDate = @Model.StartDate,
                endDate = @Model.EndDate
            })
        </abp-column>
    </abp-row>
    <abp-row class="mt-5">
        <abp-column size="_6">
            @await Component.InvokeAsync("NewUserStatisticWidget")
        </abp-column>
        <abp-column size="_6">
            @await Component.InvokeAsync("LicenseStatisticWidget")
        </abp-column>
    </abp-row>
</div>
