@page
@model DashboardDemo.Web.Pages.MyDashboardModel

@section scripts {
    <abp-script src="/Pages/MyDashboard.js" />
}

@section styles {
    <abp-style src="/Pages/MyDashboard.css" />
}

<form method="get" id="MyDashboardFilterForm">
    <abp-row class="mb-3">
        <abp-column size-md="_5">
            <abp-input asp-for="StartDate" />
        </abp-column>
        <abp-column size-md="_5"> 
            <abp-input asp-for="EndDate" />
        </abp-column>
        <abp-column size-md="_2">
            <abp-button button-type="Primary" icon="refresh" size="Block_Large" type="Submit" text="Refresh" />
        </abp-column>
    </abp-row>
</form>

<div id="MyDashboardWidgetsArea" data-widget-filter="#MyDashboardFilterForm">
    <abp-row>
        <abp-column>
            @await Component.InvokeAsync("CountersWidget", new
            {
                startDate = @Model.StartDate,
                endDate = @Model.EndDate
            })
        </abp-column>
    </abp-row>
    <abp-row class="mt-5">
        <abp-column size="_6">
            @await Component.InvokeAsync("NewUserStatisticWidget")
        </abp-column>
        <abp-column size="_6">
            @await Component.InvokeAsync("LicenseStatisticWidget")
        </abp-column>
    </abp-row>
</div>
