@page
@using Localization.Resources.AbpUi
@using Microsoft.Extensions.Localization
@using MyCompanyName.MyProjectName.Pages
@model IndexModel
@inject IStringLocalizer<AbpUiResource> Localizer
<a href="/Account/Login">@Localizer["Login"]</a>