@page
@using Localization.Resources.AbpUi
@using Microsoft.Extensions.Localization
@using MyCompanyName.MyProjectName.Pages
@using Volo.Abp.Users
@model IndexModel
@inject IStringLocalizer<AbpUiResource> Localizer
@inject ICurrentUser CurrentUser

@if (!CurrentUser.IsAuthenticated)
{
    <a href="~/Account/Login">@Localizer["Login"]</a>
}
else
{
    <span>Welcome: @CurrentUser.UserName</span>
}