@page
@using Localization.Resources.AbpUi
@using Microsoft.AspNetCore.Mvc.Localization
@model Volo.Abp.Account.Web.Pages.Account.ErrorModel
@inject IHtmlLocalizer<AbpUiResource> L
@{
    var errorMessage = Model.ErrorMessage.Error;
    var errorDetails = Model.ErrorMessage.ErrorDescription;
    if (errorDetails.IsNullOrEmpty())
    {
        errorDetails = errorMessage;
        errorMessage = L["Error"].Value + "!";
    }
}

<h1>
    @errorMessage
</h1>

<div>
    <p>
        @errorDetails
    </p>
</div>
