@page
@using Volo.ClientSimulation.Demo.Pages
@model Volo.ClientSimulation.Demo.Pages.IndexModel
@section styles {
    <abp-style-bundle>
        <abp-style src="/Pages/SimulationArea.css" />
    </abp-style-bundle>
}
@section scripts {
    <abp-script-bundle>
        <abp-script src="/Pages/SimulationArea.js" />
        <abp-script src="/Pages/Index.js" />
    </abp-script-bundle>
}
<div id="SimulationArea"></div>