@page
@using AbpDesk.Web.Mvc.Pages.App.Todo
@model IndexModel
<h2>TODO application!</h2>

<div id="TodoApp">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>

@section scripts {
    <script src="https://unpkg.com/vue"></script>
    <script src="~/pages/app/todo/index.js"></script>
}