@page
@model MicroserviceDemo.Web.Pages.IndexModel
<p>
    <abp-card>
        <abp-card-header></abp-card-header>
        <abp-card-body>
            <a href="~/Account/Login">Login</a>
        </abp-card-body>
    </abp-card>
</p>