name: Merge branch dev with rel-5.3
on:
  push:
    branches:
      - rel-5.3
permissions:
  contents: read

jobs:
  merge-rel-5-3-with-rel-5-2:
    permissions:
      contents: write  # for peter-evans/create-pull-request to create branch
      pull-requests: write  # for peter-evans/create-pull-request to create a PR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: dev
      - name: Reset promotion branch
        run: |
          git fetch origin rel-5.3:rel-5.3
          git reset --hard rel-5.3
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          branch: auto-merge/rel-5-3/${{github.run_number}}
          title: Merge branch dev with rel-5.3
          body: This PR generated automatically to merge dev with rel-5.3. Please review the changed files before merging to prevent any errors that may occur.
          reviewers: ${{github.actor}}
          token: ${{ github.token }}
