name: Merge branch dev with prerel-8.2
on:
  push:
    branches:
      - prerel-8.2
permissions:
  contents: read

jobs:
  merge-dev-with-prerel-8-2:
    permissions:
      contents: write  # for peter-evans/create-pull-request to create branch
      pull-requests: write  # for peter-evans/create-pull-request to create a PR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: dev
      - name: Reset promotion branch
        run: |
          git fetch origin prerel-8.2:prerel-8.2
          git reset --hard prerel-8.2
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          branch: auto-merge/prerel-8-2/${{github.run_number}}
          title: Merge branch dev with prerel-8.2
          body: This PR generated automatically to merge dev with prerel-8.2. Please review the changed files before merging to prevent any errors that may occur.
          reviewers: maliming
          token: ${{ github.token }}
      - name: Merge Pull Request
        env:
          GH_TOKEN: ${{ secrets.BOT_SECRET }}
        run: |
          gh pr review auto-merge/prerel-8-2/${{github.run_number}} --approve
          gh pr merge auto-merge/prerel-8-2/${{github.run_number}} --merge --auto --delete-branch