.card-body img {
    max-width: 100%;
    border-radius: 4px;
    margin: 20px 0;
}

.badge.badge-light {
    color: #757575;
    background: #f2f2f2;
}

.reaction-in-comment span.area-title {
    display: none;
}

span.area-title {
    font-weight: 600;
    padding: 3px;
    display: block;
}
.popover {
    min-width: 276px;
}

#scroll-index {
    position: sticky;
    top: 20px;
}

#scroll-index .scroll-top-btn.showup{
    display: block;
}

#scroll-index .scroll-top-btn{
    display: none;
    font-size: .85em;
    color: #aaa;
    text-decoration: none;
    padding-left: 18px;
}