@page "/counter"
@using Volo.Abp.Http.Client.Authentication
@inject IAbpAccessTokenProvider AccessTokenProvider
@inject AuthenticationStateProvider AuthenticationStateProvider


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount </p>
<p role="status"><b>IAbpAccessTokenProvider Type:</b> @AccessTokenProvider.GetType().FullName </p>
<p role="status"><b>AuthenticationStateProvider Type:</b> @AuthenticationStateProvider.GetType().FullName </p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<a class="btn btn-primary" href="/Counter2">Counter2 server</a>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
