@page "/"
@inherits MyProjectNameComponentBase

@if (!CurrentUser.IsAuthenticated)
{
    <a class="btn btn-primary" href="Account/Login"><i class="fa fa-sign-in"></i> @L["Login"]</a>
}

<a class="btn btn-primary" href="/Counter">Counter Wasm</a>
<a class="btn btn-primary" href="/Counter2">Counter2 server</a>

<div>
    <p role="status">Current count: @currentCount </p>
</div>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
